# 아파트 매매 거래정보 데이터 전처리

In [93]:
# 위도와 경도좌표를 따로 구해서 다시 train.csv,test.csv로 저장 했기 때문에 코드가 섞이는걸 방치 차원에서 주석처리함
'''## 연도별로 나눈 후 데이터 합치기

import pandas as pd

import sys
mod = sys.modules[__name__]

# 2007년부터 2020년까지의 매매기록을
# salse_2007 ~ sales_2020 까지의 데이터프레임으로 각각 저장
for i in range(2007, 2021):
    filename = 'data/시세/아파트매매/아파트(매매)%d.csv'%i
    setattr(mod, 'sales_{}'.format(i), pd.read_csv(filename, encoding='cp949', header=15))

### train data concat

concat_train = pd.concat([sales_2007,sales_2008,sales_2009,sales_2010,
                         sales_2011,sales_2012,sales_2013,sales_2014,
                         sales_2015,sales_2016,sales_2017])
concat_train

concat_train = concat_train.query("도로명 != ' '")
concat_train

#### train.csv 로 저장

concat_train.to_csv('data/ProcessedData/train.csv', index=False, encoding='cp949')

### test data concat

concat_test = pd.concat([sales_2018,sales_2019,sales_2020])
concat_test

concat_test = concat_test.query("도로명 != ' '")
concat_test

#### test.csv 로 저장

concat_test.to_csv('data/ProcessedData/test.csv', index=False, encoding='cp949')'''

### train.csv, test.csv 에 위도,경도 좌표 추가하기

In [ ]:
'''### 아파트의 위도,경도를 구해주는 코드(구글) ###
import googlemaps
#gmaps = googlemaps.Client(key='AIzaSyAOiUJ_KBcGrm7h10fFQMDnS0FKI5RmfgY')

apt_addr = data.dong + " " + data.addr_kr + " " + data.apt
apt_lat = []
apt_lng = []

for addr in apt_addr:      # 동이름 + 도로명주소 + 아파트이름을 기반으로 geocode에 입력하여 위도,경도 추출
    tmp = gmaps.geocode(addr, language='ko')
    if len(tmp) == 0:      # geocode에 입력된 주소가 유효하지 않을 때 0으로 대체하고 계속 진행함
        apt_lat.append(0)
        apt_lng.append(0)
        continue
    apt_lat.append(tmp[0].get('geometry')['location']['lat'])
    apt_lng.append(tmp[0].get('geometry')['location']['lng'])
    
idx = apt_with_loc.index
for i in range(len(data)):  # 추출한 아파트의 위도,경도를 데이터에 새로운열('lat','lng')을 추가하여 해당아파트의 위도,경도를 추가해줌
    data.at[idx[i], 'lat'] = apt_lat[i]
    data.at[idx[i], 'lng'] = apt_lng[i]'''

In [462]:
'''import urllib.request, urllib.parse, urllib.error
import json

serviceurl = 'http://maps.googleapis.com/maps/api/geocode/json?'

while True:
    address = input("Enter Location : ")
    if len(address) < 1 : break
    
    url = serviceurl + urllib.parse.urlencode({'adddress':address})
    uh = urllib.request.urlopen(url)
    data = uh.read().decode()
    
    try:
        js = json.loads(data)
    except:
        js = None
    
    apt_lat = js['results'][0]['geometry']['location']['lat']
    apt_lng = js['results'][0]['geometry']['location']['lng']'''

Enter Location :

In [109]:
'''### 아파트의 위도,경도를 구해주는 코드(카카오) ###
import requests; from urllib.parse import urlparse; import json

apt_lat = []
apt_lng = []
apt_addr = test_loc.시군구 + " " + test_loc.도로명
for addr in apt_addr:
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + addr
    headers = {"Authorization": "KakaoAK f713d6ec56a1e8cc9d3663b1d2f94316"}
    result = json.loads(str(requests.get(url, headers=headers).text))
    if len(result['documents']) == 0:
        apt_lat.append(0)
        apt_lng.append(0)
        continue
    elif result['document'][0]['address'] == None:
        apt_lat.append(0)
        apt_lng.append(0)
        continue
    match_first = result['documents'][0]['address']
    apt_lat.append(float(match_first['y']))
    apt_lng.append(float(match_first['x']))'''

In [30]:
'''idx = test_loc.index
for i in range(len(test_loc)):
    test.at[idx[i], '위도'] = apt_lat[i]
    test.at[idx[i], '경도'] = apt_lng[i]'''

In [415]:
'''a = train_loc.loc[:,"도로명"]
b = train_loc.loc[:,"위도"]
key = list(a)
value = list(b)
lat = dict(zip(key,value))

c = train_loc.loc[:,"도로명"]
d = train_loc.loc[:,"경도"]
key = list(c)
value = list(d)
lng = dict(zip(key,value))'''

In [114]:
'''for i in range(len(train)):
    if train['위도'].iloc[i] == 0:
        train["위도"].iloc[i] = lat.get(train["도로명"].iloc[i])
        train["경도"].iloc[i] = lng.get(train["도로명"].iloc[i])'''

'for i in range(len(train)):\n    if train[\'위도\'].iloc[i] == 0:\n        train["위도"].iloc[i] = lat.get(train["도로명"].iloc[i])\n        train["경도"].iloc[i] = lng.get(train["도로명"].iloc[i])'

### train, test 데이터의 위도경도 이상치 대체

In [226]:
train = pd.read_csv('data/ProcessedData/train.csv', encoding='cp949')
train

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
0,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200606,1,"60,000",4,1988,언주로 103,37.481344,127.052912
1,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200610,20,"72,250",5,1988,언주로 103,37.481344,127.052912
2,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200610,30,"73,500",8,1988,언주로 103,37.481344,127.052912
3,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200612,9,"76,500",5,1988,언주로 103,37.481344,127.052912
4,서울특별시 강남구 개포동,658,1,개포6차우성아파트1동~8동,79.97,200605,9,"88,000",3,1987,언주로 3,37.476792,127.055926
...,...,...,...,...,...,...,...,...,...,...,...,...,...
825533,서울특별시 중랑구 중화동,450,0,한신2,59.76,201704,26,"33,000",22,1998,동일로 752,37.597009,127.082071
825534,서울특별시 중랑구 중화동,450,0,한신2,84.03,201705,1,"40,200",22,1998,동일로 752,37.597009,127.082071
825535,서울특별시 중랑구 중화동,274,51,한영(101),84.69,201605,17,"30,000",4,2003,동일로144길 74,37.606521,127.082165
825536,서울특별시 중랑구 중화동,274,76,한영(103),67.44,201610,25,"25,700",5,2003,동일로144길 74,37.606521,127.082165
825537,서울특별시 중랑구 중화동,11,0,현대휴앤미,95.94,201612,8,"32,000",5,2007,봉화산로27가길 23,37.603171,127.084658

In [227]:
train = train[train.위도.notnull()]
train

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
0,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200606,1,"60,000",4,1988,언주로 103,37.481344,127.052912
1,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200610,20,"72,250",5,1988,언주로 103,37.481344,127.052912
2,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200610,30,"73,500",8,1988,언주로 103,37.481344,127.052912
3,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200612,9,"76,500",5,1988,언주로 103,37.481344,127.052912
4,서울특별시 강남구 개포동,658,1,개포6차우성아파트1동~8동,79.97,200605,9,"88,000",3,1987,언주로 3,37.476792,127.055926
...,...,...,...,...,...,...,...,...,...,...,...,...,...
825533,서울특별시 중랑구 중화동,450,0,한신2,59.76,201704,26,"33,000",22,1998,동일로 752,37.597009,127.082071
825534,서울특별시 중랑구 중화동,450,0,한신2,84.03,201705,1,"40,200",22,1998,동일로 752,37.597009,127.082071
825535,서울특별시 중랑구 중화동,274,51,한영(101),84.69,201605,17,"30,000",4,2003,동일로144길 74,37.606521,127.082165
825536,서울특별시 중랑구 중화동,274,76,한영(103),67.44,201610,25,"25,700",5,2003,동일로144길 74,37.606521,127.082165
825537,서울특별시 중랑구 중화동,11,0,현대휴앤미,95.94,201612,8,"32,000",5,2007,봉화산로27가길 23,37.603171,127.084658

In [228]:
import requests; from urllib.parse import urlparse; import json
url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + '상도동 1-38'
headers = {"Authorization": "KakaoAK f713d6ec56a1e8cc9d3663b1d2f94316"}
result = json.loads(str(requests.get(url, headers=headers).text))

In [229]:
result

{'documents': [{'address': {'address_name': '서울 동작구 상도동 1-38',
    'b_code': '1159010200',
    'h_code': '1159053000',
    'main_address_no': '1',
    'mountain_yn': 'N',
    'region_1depth_name': '서울',
    'region_2depth_name': '동작구',
    'region_3depth_h_name': '상도1동',
    'region_3depth_name': '상도동',
    'sub_address_no': '38',
    'x': '126.953023760581',
    'y': '37.5085730651588'},
   'address_name': '서울 동작구 상도동 1-38',
   'address_type': 'REGION_ADDR',
   'road_address': {'address_name': '서울 동작구 매봉로4길 17',
    'building_name': '삼부한강',
    'main_building_no': '17',
    'region_1depth_name': '서울',
    'region_2depth_name': '동작구',
    'region_3depth_name': '상도동',
    'road_name': '매봉로4길',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '126.953025317366',
    'y': '37.5086155932013',
    'zone_no': '06912'},
   'x': '126.953023760581',
   'y': '37.5085730651588'},
  {'address': {'address_name': '경북 포항시 남구 상도동 1-38',
    'b_code': '4711110100',
    'h_code': '4711152500',
    'main_address_no': '1',
    'mountain_yn': 'N',
    'region_1depth_name': '경북',
    'region_2depth_name': '포항시 남구',
    'region_3depth_h_name': '상대동',
    'region_3depth_name': '상도동',
    'sub_address_no': '38',
    'x': '129.360692731209',
    'y': '36.020518362315'},
   'address_name': '경북 포항시 남구 상도동 1-38',
   'address_type': 'REGION_ADDR',
   'road_address': None,
   'x': '129.360692731209',
   'y': '36.020518362315'}],
 'meta': {'is_end': True, 'pageable_count': 2, 'total_count': 2}}

In [230]:
train.query("시군구 == '서울특별시 동작구 흑석동' & 단지명 == '리버힐'")

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
61514,서울특별시 동작구 흑석동,143,23,리버힐,84.45,200609,8,"49,000",7,2004,현충로 50,37.39095,126.925966
61515,서울특별시 동작구 흑석동,143,23,리버힐,84.45,200609,28,"48,200",7,2004,현충로 50,37.39095,126.925966
258653,서울특별시 동작구 흑석동,143,23,리버힐,84.55,200907,7,"57,000",5,2004,현충로 50,37.39095,126.925966
367031,서울특별시 동작구 흑석동,143,23,리버힐,84.45,201108,22,"65,000",5,2004,현충로 50,37.39095,126.925966
367032,서울특별시 동작구 흑석동,143,23,리버힐,84.55,201112,8,"57,000",7,2004,현충로 50,37.39095,126.925966
367033,서울특별시 동작구 흑석동,143,23,리버힐,84.45,201112,17,"57,000",4,2004,현충로 50,37.39095,126.925966
367034,서울특별시 동작구 흑석동,143,23,리버힐,84.55,201201,9,"58,500",5,2004,현충로 50,37.39095,126.925966
669707,서울특별시 동작구 흑석동,143,23,리버힐,84.45,201509,25,"55,530",5,2004,현충로 50,37.39095,126.925966
669708,서울특별시 동작구 흑석동,143,23,리버힐,84.45,201602,27,"58,038",4,2004,현충로 50,37.39095,126.925966

In [231]:
riverhill = train.query("시군구 == '서울특별시 동작구 흑석동' & 단지명 == '리버힐'").copy()
idx = riverhill.index
idx

Int64Index([61514, 61515, 258653, 367031, 367032, 367033, 367034, 669707,
            669708],
           dtype='int64')

In [232]:
for i in range(len(idx)):
    train.at[idx[i], '위도'] = 37.5085730651588
    train.at[idx[i], '경도'] = 126.953023760581

In [233]:
train.query("시군구 == '서울특별시 동작구 흑석동' & 단지명 == '리버힐'")

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
61514,서울특별시 동작구 흑석동,143,23,리버힐,84.45,200609,8,"49,000",7,2004,현충로 50,37.508573,126.953024
61515,서울특별시 동작구 흑석동,143,23,리버힐,84.45,200609,28,"48,200",7,2004,현충로 50,37.508573,126.953024
258653,서울특별시 동작구 흑석동,143,23,리버힐,84.55,200907,7,"57,000",5,2004,현충로 50,37.508573,126.953024
367031,서울특별시 동작구 흑석동,143,23,리버힐,84.45,201108,22,"65,000",5,2004,현충로 50,37.508573,126.953024
367032,서울특별시 동작구 흑석동,143,23,리버힐,84.55,201112,8,"57,000",7,2004,현충로 50,37.508573,126.953024
367033,서울특별시 동작구 흑석동,143,23,리버힐,84.45,201112,17,"57,000",4,2004,현충로 50,37.508573,126.953024
367034,서울특별시 동작구 흑석동,143,23,리버힐,84.55,201201,9,"58,500",5,2004,현충로 50,37.508573,126.953024
669707,서울특별시 동작구 흑석동,143,23,리버힐,84.45,201509,25,"55,530",5,2004,현충로 50,37.508573,126.953024
669708,서울특별시 동작구 흑석동,143,23,리버힐,84.45,201602,27,"58,038",4,2004,현충로 50,37.508573,126.953024

In [234]:
import requests; from urllib.parse import urlparse; import json
url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + '성수동1가 708'
headers = {"Authorization": "KakaoAK f713d6ec56a1e8cc9d3663b1d2f94316"}
result = json.loads(str(requests.get(url, headers=headers).text))

In [235]:
result

{'documents': [{'address': {'address_name': '서울 성동구 성수동1가 708',
    'b_code': '1120011400',
    'h_code': '1120066000',
    'main_address_no': '708',
    'mountain_yn': 'N',
    'region_1depth_name': '서울',
    'region_2depth_name': '성동구',
    'region_3depth_h_name': '성수1가2동',
    'region_3depth_name': '성수동1가',
    'sub_address_no': '',
    'x': '127.048016199008',
    'y': '37.5509020576675'},
   'address_name': '서울 성동구 성수동1가 708',
   'address_type': 'REGION_ADDR',
   'road_address': {'address_name': '서울 성동구 상원10다길 26',
    'building_name': '성수동동아그린아파트(상가)',
    'main_building_no': '26',
    'region_1depth_name': '서울',
    'region_2depth_name': '성동구',
    'region_3depth_name': '성수동1가',
    'road_name': '상원10다길',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '127.04874589338',
    'y': '37.5505498287532',
    'zone_no': '04791'},
   'x': '127.048016199008',
   'y': '37.5509020576675'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [236]:
train.query("단지명 == '동아그린' & 시군구 == '서울특별시 성동구 성수동1가' & 도로명 == '상원길 15'")

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
268160,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,200906,5,"44,400",12,1999,상원길 15,35.730518,126.738628
268161,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,200906,11,"43,500",8,1999,상원길 15,35.730518,126.738628
268162,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,200906,16,"45,500",9,1999,상원길 15,35.730518,126.738628
268168,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,200908,15,"49,900",13,1999,상원길 15,35.730518,126.738628
268170,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,200908,18,"47,000",4,1999,상원길 15,35.730518,126.738628
268172,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,200909,14,"47,800",9,1999,상원길 15,35.730518,126.738628
324463,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201006,17,"59,800",12,1999,상원길 15,35.730518,126.738628
324468,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201011,12,"43,000",5,1999,상원길 15,35.730518,126.738628
324470,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201101,8,"40,500",2,1999,상원길 15,35.730518,126.738628
324473,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201102,22,"44,700",4,1999,상원길 15,35.730518,126.738628
324474,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201104,26,"40,000",2,1999,상원길 15,35.730518,126.738628
372467,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201106,7,"43,000",10,1999,상원길 15,35.730518,126.738628
372469,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201109,15,"41,500",2,1999,상원길 15,35.730518,126.738628
372470,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201111,29,"43,700",1,1999,상원길 15,35.730518,126.738628
419786,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201211,15,"35,500",3,1999,상원길 15,35.730518,126.738628
419788,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201302,15,"35,000",1,1999,상원길 15,35.730518,126.738628
419789,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201302,25,"39,000",9,1999,상원길 15,35.730518,126.738628
419792,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201304,10,"57,000",16,1999,상원길 15,35.730518,126.738628
419794,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201304,16,"38,500",3,1999,상원길 15,35.730518,126.738628
419796,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201304,23,"50,000",8,1999,상원길 15,35.730518,126.738628
486670,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201309,4,"39,000",4,1999,상원길 15,35.730518,126.738628
486673,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201311,5,"40,500",3,1999,상원길 15,35.730518,126.738628
486674,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201311,28,"40,000",9,1999,상원길 15,35.730518,126.738628
486676,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201312,26,"46,500",7,1999,상원길 15,35.730518,126.738628
486678,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201402,24,"34,000",1,1999,상원길 15,35.730518,126.738628
486682,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201403,11,"39,800",5,1999,상원길 15,35.730518,126.738628
486683,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201403,13,"39,700",10,1999,상원길 15,35.730518,126.738628
486685,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201404,15,"39,500",5,1999,상원길 15,35.730518,126.738628
486686,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201404,28,"42,000",4,1999,상원길 15,35.730518,126.738628
581596,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201408,5,"42,850",8,1999,상원길 15,35.730518,126.738628
581597,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201409,1,"43,000",9,1999,상원길 15,35.730518,126.738628
581599,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201409,27,"36,300",1,1999,상원길 15,35.730518,126.738628
581604,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201412,5,"37,000",1,1999,상원길 15,35.730518,126.738628
581605,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201503,11,"42,700",8,1999,상원길 15,35.730518,126.738628
581607,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201503,23,"39,500",6,1999,상원길 15,35.730518,126.738628
581608,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201503,25,"39,500",1,1999,상원길 15,35.730518,126.738628
683046,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201505,22,"39,800",1,1999,상원길 15,35.730518,126.738628
683049,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201506,23,"42,000",2,1999,상원길 15,35.730518,126.738628
683051,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201507,10,"50,000",14,1999,상원길 15,35.730518,126.738628
683062,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201511,2,"40,000",7,1999,상원길 15,35.730518,126.738628
683065,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201601,28,"43,800",4,1999,상원길 15,35.730518,126.738628
683069,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201604,29,"46,000",9,1999,상원길 15,35.730518,126.738628
683070,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201604,30,"45,500",8,1999,상원길 15,35.730518,126.738628
788839,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201605,8,"40,000",2,1999,상원길 15,35.730518,126.738628
788843,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201606,27,"45,000",3,1999,상원길 15,35.730518,126.738628

In [237]:
dong_a = train.query("단지명 == '동아그린' & 시군구 == '서울특별시 성동구 성수동1가' & 도로명 == '상원길 15'").copy()
idx = dong_a.index
idx

Int64Index([268160, 268161, 268162, 268168, 268170, 268172, 324463, 324468,
            324470, 324473, 324474, 372467, 372469, 372470, 419786, 419788,
            419789, 419792, 419794, 419796, 486670, 486673, 486674, 486676,
            486678, 486682, 486683, 486685, 486686, 581596, 581597, 581599,
            581604, 581605, 581607, 581608, 683046, 683049, 683051, 683062,
            683065, 683069, 683070, 788839, 788843],
           dtype='int64')

In [238]:
for i in range(len(idx)):
    train.at[idx[i], '위도'] = 37.5509020576675
    train.at[idx[i], '경도'] = 127.048016199008

In [239]:
train.query("단지명 == '동아그린' & 시군구 == '서울특별시 성동구 성수동1가' & 도로명 == '상원길 15'")

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
268160,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,200906,5,"44,400",12,1999,상원길 15,37.550902,127.048016
268161,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,200906,11,"43,500",8,1999,상원길 15,37.550902,127.048016
268162,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,200906,16,"45,500",9,1999,상원길 15,37.550902,127.048016
268168,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,200908,15,"49,900",13,1999,상원길 15,37.550902,127.048016
268170,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,200908,18,"47,000",4,1999,상원길 15,37.550902,127.048016
268172,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,200909,14,"47,800",9,1999,상원길 15,37.550902,127.048016
324463,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201006,17,"59,800",12,1999,상원길 15,37.550902,127.048016
324468,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201011,12,"43,000",5,1999,상원길 15,37.550902,127.048016
324470,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201101,8,"40,500",2,1999,상원길 15,37.550902,127.048016
324473,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201102,22,"44,700",4,1999,상원길 15,37.550902,127.048016
324474,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201104,26,"40,000",2,1999,상원길 15,37.550902,127.048016
372467,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201106,7,"43,000",10,1999,상원길 15,37.550902,127.048016
372469,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201109,15,"41,500",2,1999,상원길 15,37.550902,127.048016
372470,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201111,29,"43,700",1,1999,상원길 15,37.550902,127.048016
419786,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201211,15,"35,500",3,1999,상원길 15,37.550902,127.048016
419788,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201302,15,"35,000",1,1999,상원길 15,37.550902,127.048016
419789,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201302,25,"39,000",9,1999,상원길 15,37.550902,127.048016
419792,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201304,10,"57,000",16,1999,상원길 15,37.550902,127.048016
419794,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201304,16,"38,500",3,1999,상원길 15,37.550902,127.048016
419796,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201304,23,"50,000",8,1999,상원길 15,37.550902,127.048016
486670,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201309,4,"39,000",4,1999,상원길 15,37.550902,127.048016
486673,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201311,5,"40,500",3,1999,상원길 15,37.550902,127.048016
486674,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201311,28,"40,000",9,1999,상원길 15,37.550902,127.048016
486676,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201312,26,"46,500",7,1999,상원길 15,37.550902,127.048016
486678,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201402,24,"34,000",1,1999,상원길 15,37.550902,127.048016
486682,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201403,11,"39,800",5,1999,상원길 15,37.550902,127.048016
486683,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201403,13,"39,700",10,1999,상원길 15,37.550902,127.048016
486685,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201404,15,"39,500",5,1999,상원길 15,37.550902,127.048016
486686,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201404,28,"42,000",4,1999,상원길 15,37.550902,127.048016
581596,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201408,5,"42,850",8,1999,상원길 15,37.550902,127.048016
581597,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201409,1,"43,000",9,1999,상원길 15,37.550902,127.048016
581599,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201409,27,"36,300",1,1999,상원길 15,37.550902,127.048016
581604,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201412,5,"37,000",1,1999,상원길 15,37.550902,127.048016
581605,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201503,11,"42,700",8,1999,상원길 15,37.550902,127.048016
581607,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201503,23,"39,500",6,1999,상원길 15,37.550902,127.048016
581608,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201503,25,"39,500",1,1999,상원길 15,37.550902,127.048016
683046,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201505,22,"39,800",1,1999,상원길 15,37.550902,127.048016
683049,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201506,23,"42,000",2,1999,상원길 15,37.550902,127.048016
683051,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201507,10,"50,000",14,1999,상원길 15,37.550902,127.048016
683062,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201511,2,"40,000",7,1999,상원길 15,37.550902,127.048016
683065,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201601,28,"43,800",4,1999,상원길 15,37.550902,127.048016
683069,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201604,29,"46,000",9,1999,상원길 15,37.550902,127.048016
683070,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201604,30,"45,500",8,1999,상원길 15,37.550902,127.048016
788839,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201605,8,"40,000",2,1999,상원길 15,37.550902,127.048016
788843,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201606,27,"45,000",3,1999,상원길 15,37.550902,127.048016

In [240]:
import requests; from urllib.parse import urlparse; import json
url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + '문정동 새말로8길 12'
headers = {"Authorization": "KakaoAK f713d6ec56a1e8cc9d3663b1d2f94316"}
result = json.loads(str(requests.get(url, headers=headers).text))

In [241]:
result

{'documents': [{'address': {'address_name': '서울 송파구 문정동 72-3',
    'b_code': '1171010800',
    'h_code': '1171064600',
    'main_address_no': '72',
    'mountain_yn': 'N',
    'region_1depth_name': '서울',
    'region_2depth_name': '송파구',
    'region_3depth_h_name': '장지동',
    'region_3depth_name': '문정동',
    'sub_address_no': '3',
    'x': '127.125787577634',
    'y': '37.4813537847821'},
   'address_name': '서울 송파구 새말로8길 12',
   'address_type': 'ROAD_ADDR',
   'road_address': {'address_name': '서울 송파구 새말로8길 12',
    'building_name': '건영아파트',
    'main_building_no': '12',
    'region_1depth_name': '서울',
    'region_2depth_name': '송파구',
    'region_3depth_name': '문정동',
    'road_name': '새말로8길',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '127.125787577634',
    'y': '37.4813537847821',
    'zone_no': '05817'},
   'x': '127.125787577634',
   'y': '37.4813537847821'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [242]:
train.query("시군구 == '서울특별시 송파구 문정동' & 도로명 == '새말로8길 12'")

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
81614,서울특별시 송파구 문정동,72,3,건영1,84.81,200605,2,"59,000",10,1996,새말로8길 12,37.502206,126.8848
81615,서울특별시 송파구 문정동,72,3,건영1,84.81,200605,20,"51,500",1,1996,새말로8길 12,37.502206,126.8848
81616,서울특별시 송파구 문정동,72,3,건영1,84.81,200606,5,"59,900",10,1996,새말로8길 12,37.502206,126.8848
81617,서울특별시 송파구 문정동,72,3,건영1,84.81,200606,16,"57,700",7,1996,새말로8길 12,37.502206,126.8848
81618,서울특별시 송파구 문정동,72,3,건영1,84.81,200607,17,"59,500",11,1996,새말로8길 12,37.502206,126.8848
...,...,...,...,...,...,...,...,...,...,...,...,...,...
798422,서울특별시 송파구 문정동,72,3,건영1,84.81,201704,11,"58,000",6,1996,새말로8길 12,37.502206,126.8848
798423,서울특별시 송파구 문정동,72,3,건영1,84.81,201704,11,"59,500",12,1996,새말로8길 12,37.502206,126.8848
798424,서울특별시 송파구 문정동,72,3,건영1,84.81,201704,14,"58,000",11,1996,새말로8길 12,37.502206,126.8848
798425,서울특별시 송파구 문정동,72,3,건영1,84.81,201704,15,"59,400",8,1996,새말로8길 12,37.502206,126.8848
798426,서울특별시 송파구 문정동,72,3,건영1,84.81,201704,29,"57,850",8,1996,새말로8길 12,37.502206,126.8848

In [243]:
geonyoung = train.query("시군구 == '서울특별시 송파구 문정동' & 도로명 == '새말로8길 12'").copy()
idx = geonyoung.index
idx

Int64Index([ 81614,  81615,  81616,  81617,  81618,  81619,  81620,  81621,
             81622,  81623,
            ...
            798417, 798418, 798419, 798420, 798421, 798422, 798423, 798424,
            798425, 798426],
           dtype='int64', length=259)

In [244]:
for i in range(len(idx)):
    train.at[idx[i], '위도'] = 37.4813537847821
    train.at[idx[i], '경도'] = 127.125787577634

In [245]:
train.query("시군구 == '서울특별시 송파구 문정동' & 도로명 == '새말로8길 12'")

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
81614,서울특별시 송파구 문정동,72,3,건영1,84.81,200605,2,"59,000",10,1996,새말로8길 12,37.481354,127.125788
81615,서울특별시 송파구 문정동,72,3,건영1,84.81,200605,20,"51,500",1,1996,새말로8길 12,37.481354,127.125788
81616,서울특별시 송파구 문정동,72,3,건영1,84.81,200606,5,"59,900",10,1996,새말로8길 12,37.481354,127.125788
81617,서울특별시 송파구 문정동,72,3,건영1,84.81,200606,16,"57,700",7,1996,새말로8길 12,37.481354,127.125788
81618,서울특별시 송파구 문정동,72,3,건영1,84.81,200607,17,"59,500",11,1996,새말로8길 12,37.481354,127.125788
...,...,...,...,...,...,...,...,...,...,...,...,...,...
798422,서울특별시 송파구 문정동,72,3,건영1,84.81,201704,11,"58,000",6,1996,새말로8길 12,37.481354,127.125788
798423,서울특별시 송파구 문정동,72,3,건영1,84.81,201704,11,"59,500",12,1996,새말로8길 12,37.481354,127.125788
798424,서울특별시 송파구 문정동,72,3,건영1,84.81,201704,14,"58,000",11,1996,새말로8길 12,37.481354,127.125788
798425,서울특별시 송파구 문정동,72,3,건영1,84.81,201704,15,"59,400",8,1996,새말로8길 12,37.481354,127.125788
798426,서울특별시 송파구 문정동,72,3,건영1,84.81,201704,29,"57,850",8,1996,새말로8길 12,37.481354,127.125788

In [246]:
train.query("단지명 == '삼동3'").T

,86403,379828,428490,597935,699120,806516
시군구,서울특별시 양천구 신월동,서울특별시 양천구 신월동,서울특별시 양천구 신월동,서울특별시 양천구 신월동,서울특별시 양천구 신월동,서울특별시 양천구 신월동
본번,562,562,562,562,562,562
부번,5,5,5,5,5,5
단지명,삼동3,삼동3,삼동3,삼동3,삼동3,삼동3
전용면적(㎡),91.96,150.24,91.96,91.96,150.24,91.96
계약년월,200612,201108,201212,201502,201505,201610
계약일,8,7,3,17,30,7
거래금액(만원),"40,500","45,000","33,500","31,000","46,700","30,600"
층,2,5,4,4,5,1
건축년도,1997,1997,1997,1997,1997,1997
도로명,신남1길 16,신남1길 16,신남1길 16,신남1길 16,신남1길 16,신남1길 16
위도,37.3253,37.3253,37.3253,37.3253,37.3253,37.3253
경도,127.674,127.674,127.674,127.674,127.674,127.674

In [247]:
train = train.query("단지명 != '삼동3'")
train

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
0,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200606,1,"60,000",4,1988,언주로 103,37.481344,127.052912
1,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200610,20,"72,250",5,1988,언주로 103,37.481344,127.052912
2,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200610,30,"73,500",8,1988,언주로 103,37.481344,127.052912
3,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,200612,9,"76,500",5,1988,언주로 103,37.481344,127.052912
4,서울특별시 강남구 개포동,658,1,개포6차우성아파트1동~8동,79.97,200605,9,"88,000",3,1987,언주로 3,37.476792,127.055926
...,...,...,...,...,...,...,...,...,...,...,...,...,...
825533,서울특별시 중랑구 중화동,450,0,한신2,59.76,201704,26,"33,000",22,1998,동일로 752,37.597009,127.082071
825534,서울특별시 중랑구 중화동,450,0,한신2,84.03,201705,1,"40,200",22,1998,동일로 752,37.597009,127.082071
825535,서울특별시 중랑구 중화동,274,51,한영(101),84.69,201605,17,"30,000",4,2003,동일로144길 74,37.606521,127.082165
825536,서울특별시 중랑구 중화동,274,76,한영(103),67.44,201610,25,"25,700",5,2003,동일로144길 74,37.606521,127.082165
825537,서울특별시 중랑구 중화동,11,0,현대휴앤미,95.94,201612,8,"32,000",5,2007,봉화산로27가길 23,37.603171,127.084658

In [213]:
train.to_csv('data/ProcessedData/train_final.csv', index=False, encoding='cp949')

In [255]:
test = pd.read_csv('data/ProcessedData/test.csv', encoding='cp949')
test

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
0,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,201707,8,"89,900",1,1988,언주로 103,37.482630,127.051104
1,서울특별시 강남구 개포동,658,1,개포6차우성아파트1동~8동,79.97,201705,16,"98,000",1,1987,언주로 3,37.476658,127.056909
2,서울특별시 강남구 개포동,658,1,개포6차우성아파트1동~8동,54.98,201705,21,"79,000",1,1987,언주로 3,37.476658,127.056909
3,서울특별시 강남구 개포동,658,1,개포6차우성아파트1동~8동,54.98,201705,22,"82,000",3,1987,언주로 3,37.476658,127.056909
4,서울특별시 강남구 개포동,658,1,개포6차우성아파트1동~8동,54.98,201705,23,"78,000",4,1987,언주로 3,37.476658,127.056909
...,...,...,...,...,...,...,...,...,...,...,...,...,...
255239,서울특별시 중랑구 중화동,274,75,한영(102),58.87,202003,17,"28,800",6,2003,동일로144길 74,37.606521,127.082165
255240,서울특별시 중랑구 중화동,274,77,한영(104),70.96,202001,28,"31,200",4,2003,동일로144길 74,37.606521,127.082165
255241,서울특별시 중랑구 중화동,274,77,한영(104),66.24,202002,3,"28,500",5,2003,동일로144길 74,37.606521,127.082165
255242,서울특별시 중랑구 중화동,274,77,한영(104),106.21,202003,11,"45,400",6,2003,동일로144길 74,37.606521,127.082165
255243,서울특별시 중랑구 중화동,11,7,현대휴앤미(102동),64.48,201907,15,"32,800",3,2007,봉화산로27가길 19,37.603025,127.084498

In [261]:
test.query("시군구 == '서울특별시 동작구 흑석동' & 단지명 == '리버힐'")

Empty DataFrame
Columns: [시군구, 본번, 부번, 단지명, 전용면적(㎡), 계약년월, 계약일, 거래금액(만원), 층, 건축년도, 도로명, 위도, 경도]
Index: []

In [264]:
test.query("도로명 == '올림픽로 300 롯데월드타워 76~101층'")

Empty DataFrame
Columns: [시군구, 본번, 부번, 단지명, 전용면적(㎡), 계약년월, 계약일, 거래금액(만원), 층, 건축년도, 도로명, 위도, 경도]
Index: []

In [267]:
test.loc[test.도로명.str.contains("올림픽로")].query("시군구 == '서울특별시 송파구 신천동'").단지명.unique()

array(['더샵스타리버', '더샵스타파크', '롯데캐슬골드', '미성', '잠실 푸르지오 월드마크', '잠실시그마타워',
       '장미1', '장미2', '장미3', '진주', '크로바', '파크리오', '한신코아', '현대타워'],
      dtype=object)

In [268]:
test.loc[test.단지명.str.contains("시그니엘")]

Empty DataFrame
Columns: [시군구, 본번, 부번, 단지명, 전용면적(㎡), 계약년월, 계약일, 거래금액(만원), 층, 건축년도, 도로명, 위도, 경도]
Index: []

In [262]:
test.query("본번 == 143 & 부번 == 23")

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
103512,서울특별시 용산구 후암동,143,23,삼안리치8차,84.78,201801,26,"69,500",3,2004,한강대로102다길 26,37.548259,126.974332
247435,서울특별시 용산구 후암동,143,23,삼안리치8차,83.97,201912,3,"86,000",1,2004,한강대로102다길 26,37.548318,126.974384
247436,서울특별시 용산구 후암동,143,23,삼안리치8차,84.78,202004,22,"80,800",1,2004,한강대로102다길 26,37.548318,126.974384

In [258]:
test.query("단지명 == '동아그린' & 시군구 == '서울특별시 성동구 성수동1가'")

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
73551,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201705,6,"45,000",7,1999,상원길 76,37.550955,127.048491
73552,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201705,23,"44,500",2,1999,상원길 76,37.550955,127.048491
73553,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201705,25,"57,800",9,1999,상원12길 15,37.550955,127.048491
73554,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201706,1,"45,000",2,1999,상원길 76,37.550955,127.048491
73555,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201706,6,"56,000",10,1999,상원12길 15,37.550955,127.048491
73556,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201706,10,"43,000",1,1999,상원길 76,37.550955,127.048491
73557,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201707,22,"58,000",4,1999,상원길 76,37.550955,127.048491
73558,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201708,1,"71,000",5,1999,상원12길 15,37.550955,127.048491
73559,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201709,23,"48,700",11,1999,상원길 76,37.550955,127.048491
73560,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201710,19,"54,500",13,1999,상원길 76,37.550955,127.048491
73561,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201712,7,"45,900",1,1999,상원길 76,37.550955,127.048491
73562,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201712,14,"55,500",16,1999,상원길 76,37.550955,127.048491
73563,서울특별시 성동구 성수동1가,708,0,동아그린,84.89,201712,15,"58,000",4,1999,상원12길 15,37.550955,127.048491
73564,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201712,16,"67,000",6,1999,상원길 76,37.550955,127.048491
73565,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201712,24,"55,000",14,1999,상원길 76,37.550955,127.048491
73566,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201801,8,"58,000",1,1999,상원길 76,37.550955,127.048491
73567,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201801,9,"55,500",7,1999,상원길 76,37.550955,127.048491
73568,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201801,19,"56,000",4,1999,상원길 76,37.550955,127.048491
73569,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201801,26,"65,700",1,1999,상원길 76,37.550955,127.048491
73570,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201803,2,"71,900",9,1999,상원12길 15,37.550955,127.048491
73571,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201803,13,"70,000",8,1999,상원12길 15,37.550955,127.048491
73572,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201804,13,"87,000",9,1999,상원12길 15,37.550955,127.048491
73573,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201804,20,"73,000",5,1999,상원12길 15,37.550955,127.048491
148398,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201805,17,"87,500",7,1999,상원길 76,37.550860,127.048425
148399,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201806,26,"70,000",9,1999,상원12길 15,37.550824,127.048944
148400,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201807,13,"62,500",13,1999,상원길 76,37.550860,127.048425
148401,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201808,23,"62,500",16,1999,상원길 76,37.550860,127.048425
148402,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201808,29,"83,000",12,1999,상원길 76,37.550860,127.048425
148403,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201809,8,"82,000",9,1999,상원12길 15,37.550824,127.048944
148404,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201810,16,"94,000",14,1999,상원12길 15,37.550824,127.048944
224692,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201906,7,"82,000",7,1999,상원길 76,37.550860,127.048425
224693,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201906,10,"64,500",13,1999,상원길 76,37.550860,127.048425
224694,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201906,18,"82,000",6,1999,상원12길 15,37.550824,127.048944
224695,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201906,21,"71,700",7,1999,상원길 76,37.550860,127.048425
224696,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201907,26,"59,000",1,1999,상원길 76,37.550860,127.048425
224697,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201907,31,"67,500",8,1999,상원길 76,37.550860,127.048425
224698,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201910,9,"73,000",10,1999,상원길 76,37.550860,127.048425
224699,서울특별시 성동구 성수동1가,708,0,동아그린,112.09,201910,31,"97,000",7,1999,상원12길 15,37.550824,127.048944
224700,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201911,18,"73,000",17,1999,상원길 76,37.550860,127.048425
224701,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201911,25,"88,500",8,1999,상원12길 15,37.550824,127.048944
224702,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201912,21,"73,500",17,1999,상원길 76,37.550860,127.048425
224703,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201912,23,"72,000",4,1999,상원길 76,37.550860,127.048425
224704,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,201912,26,"84,500",1,1999,상원길 76,37.550860,127.048425
224705,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,201912,27,"73,900",14,1999,상원길 76,37.550860,127.048425
224706,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,202001,11,"75,000",15,1999,상원길 76,37.550860,127.048425
224707,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,202001,30,"74,800",4,1999,상원길 76,37.550860,127.048425
224708,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,202001,31,"75,000",6,1999,상원길 76,37.550860,127.048425
224709,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,202002,20,"75,000",10,1999,상원길 76,37.550860,127.048425
224710,서울특별시 성동구 성수동1가,708,0,동아그린,84.91,202002,28,"90,700",2,1999,상원길 76,37.550860,127.048425
224711,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,202003,5,"79,800",12,1999,상원길 76,37.550860,127.048425
224712,서울특별시 성동구 성수동1가,708,0,동아그린,58.32,202003,12,"80,000",8,1999,상원길 76,37.550860,127.048425

In [250]:
test.query("시군구 == '서울특별시 송파구 문정동' & 도로명 == '새말로8길 12'")

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
84570,서울특별시 송파구 문정동,72,3,건영1,84.81,201705,2,"59,000",8,1996,새말로8길 12,37.481514,127.125840
84571,서울특별시 송파구 문정동,72,3,건영1,84.81,201705,8,"54,000",4,1996,새말로8길 12,37.481514,127.125840
84572,서울특별시 송파구 문정동,72,3,건영1,84.81,201705,10,"58,000",6,1996,새말로8길 12,37.481514,127.125840
84573,서울특별시 송파구 문정동,72,3,건영1,77.68,201705,11,"56,000",9,1996,새말로8길 12,37.481514,127.125840
84574,서울특별시 송파구 문정동,72,3,건영1,84.81,201705,11,"59,800",15,1996,새말로8길 12,37.481514,127.125840
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233153,서울특별시 송파구 문정동,72,3,건영1,84.39,201911,11,"89,000",1,1996,새말로8길 12,37.481354,127.125788
233154,서울특별시 송파구 문정동,72,3,건영1,77.68,201912,14,"89,900",1,1996,새말로8길 12,37.481354,127.125788
233155,서울특별시 송파구 문정동,72,3,건영1,77.68,202001,18,"96,000",11,1996,새말로8길 12,37.481354,127.125788
233156,서울특별시 송파구 문정동,72,3,건영1,84.39,202002,8,"94,500",1,1996,새말로8길 12,37.481354,127.125788
233157,서울특별시 송파구 문정동,72,3,건영1,84.39,202002,20,"110,000",14,1996,새말로8길 12,37.481354,127.125788

In [225]:
test = test.query("단지명 == '삼동3'")
test

Empty DataFrame
Columns: [시군구, 본번, 부번, 단지명, 전용면적(㎡), 계약년월, 계약일, 거래금액(만원), 층, 건축년도, 도로명, 위도, 경도]
Index: []

In [111]:
test_loc.query("위도 == 0 & 경도 == 0")

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
139505,서울특별시 동대문구 장안동,374,8,가우디트윈캐슬2,48.38,201901,13,"28,300",12,2016,한천로24길 74-11,0.0,0.0
141227,서울특별시 동작구 사당동,1159,0,래미안이수역로이파크,84.98,201809,3,"130,000",20,2018,사당로23길 4,0.0,0.0
142239,서울특별시 동작구 흑석동,257,8,한진리버타운,83.35,201810,5,"79,000",4,2001,서달로1길 8-6,0.0,0.0
146014,서울특별시 서초구 반포동,1,23,반포1차우정에쉐르,151.92,201805,19,"201,000",3,2004,신반포로 129,0.0,0.0
146016,서울특별시 서초구 반포동,1,8,반포경남아파트,98.30,201805,19,"199,500",8,1978,신반포로 137,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
251068,서울특별시 종로구 평창동,596,0,삼성,59.97,202004,17,"42,900",9,1998,평창문화로 171,0.0,0.0
251069,서울특별시 종로구 평창동,596,0,삼성,59.97,202004,20,"44,000",7,1998,평창문화로 171,0.0,0.0
251078,서울특별시 종로구 평창동,33,1,형우럭스빌(33-1),103.07,201909,24,"75,000",1,2005,세검정로 384-13,0.0,0.0
251079,서울특별시 종로구 평창동,33,1,형우럭스빌(33-1),92.87,201910,18,"42,000",4,2005,세검정로 384-13,0.0,0.0
251080,서울특별시 종로구 평창동,33,1,형우럭스빌(33-1),128.26,202002,17,"70,000",6,2005,세검정로 384-13,0.0,0.0

In [113]:
test = test.query("위도 != 0 & 경도 != 0")
test

,시군구,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,위도,경도
0,서울특별시 강남구 개포동,655,2,개포2차현대아파트(220),77.75,201707,8,"89,900",1,1988,언주로 103,37.482630,127.051104
1,서울특별시 강남구 개포동,658,1,개포6차우성아파트1동~8동,79.97,201705,16,"98,000",1,1987,언주로 3,37.476658,127.056909
2,서울특별시 강남구 개포동,658,1,개포6차우성아파트1동~8동,54.98,201705,21,"79,000",1,1987,언주로 3,37.476658,127.056909
3,서울특별시 강남구 개포동,658,1,개포6차우성아파트1동~8동,54.98,201705,22,"82,000",3,1987,언주로 3,37.476658,127.056909
4,서울특별시 강남구 개포동,658,1,개포6차우성아파트1동~8동,54.98,201705,23,"78,000",4,1987,언주로 3,37.476658,127.056909
...,...,...,...,...,...,...,...,...,...,...,...,...,...
255239,서울특별시 중랑구 중화동,274,75,한영(102),58.87,202003,17,"28,800",6,2003,동일로144길 74,37.606521,127.082165
255240,서울특별시 중랑구 중화동,274,77,한영(104),70.96,202001,28,"31,200",4,2003,동일로144길 74,37.606521,127.082165
255241,서울특별시 중랑구 중화동,274,77,한영(104),66.24,202002,3,"28,500",5,2003,동일로144길 74,37.606521,127.082165
255242,서울특별시 중랑구 중화동,274,77,한영(104),106.21,202003,11,"45,400",6,2003,동일로144길 74,37.606521,127.082165
255243,서울특별시 중랑구 중화동,11,7,현대휴앤미(102동),64.48,201907,15,"32,800",3,2007,봉화산로27가길 19,37.603025,127.084498

In [115]:
test.to_csv('data/ProcessedData/test_final.csv', index=False, encoding='cp949')

# 서울시 한강정보 데이터 전처리

In [597]:
river = pd.read_csv('data/한강정보.csv', encoding='cp949')
river

    교유번호               명칭           파일경로         위도          경도
0    147      옥수역 지하철 중앙선   성동광진구한강길.kmz  37.540310  127.018584
1    148           옥수역 인근   성동광진구한강길.kmz  37.540757  127.019202
2    149      응봉역 지하철 중앙선   성동광진구한강길.kmz  37.549802  127.034248
3    150           서울숲 인근   성동광진구한강길.kmz  37.539740  127.036278
4    151          영동대교 인근   성동광진구한강길.kmz  37.532717  127.059054
..   ...              ...            ...        ...         ...
57   263         상암선착장 인근      마포한강길.kmz  37.561298  126.885897
58   264     서강대교 강변북로 인근      마포한강길.kmz  37.542864  126.930157
59   302  여의나루역수상택시승강장 인근  영등포동작구한강길.kmz  37.527391  126.932231
60   303           노들섬 인근  영등포동작구한강길.kmz  37.513400  126.957905
61   306      조선이흠례 묘지 인근  영등포동작구한강길.kmz  37.513432  126.926557

[62 rows x 5 columns]

In [598]:
river.명칭.nunique()

61

In [599]:
river.명칭.value_counts()

서울숲 인근             2
서강대교 강변북로 인근       1
여의나루역수상택시승강장 인근    1
가양역 인근             1
올림픽대교 강변북로 인근      1
                  ..
한강홍수통제소 인근         1
세빛둥둥섬              1
한강시민공원망원지구 인근      1
영동대교 인근            1
뚝섬유원지 잠실대교 인근      1
Name: 명칭, Length: 61, dtype: int64

In [600]:
river.query("명칭 == '서울숲 인근'")

    교유번호      명칭          파일경로         위도          경도
3    150  서울숲 인근  성동광진구한강길.kmz  37.539740  127.036278
46   216  서울숲 인근  성동광진구한강길.kmz  37.541686  127.028817

In [601]:
river = river[['교유번호','위도','경도']]
river

    교유번호         위도          경도
0    147  37.540310  127.018584
1    148  37.540757  127.019202
2    149  37.549802  127.034248
3    150  37.539740  127.036278
4    151  37.532717  127.059054
..   ...        ...         ...
57   263  37.561298  126.885897
58   264  37.542864  126.930157
59   302  37.527391  126.932231
60   303  37.513400  126.957905
61   306  37.513432  126.926557

[62 rows x 3 columns]

In [602]:
river.columns = ['id','lat','lng']
river

     id        lat         lng
0   147  37.540310  127.018584
1   148  37.540757  127.019202
2   149  37.549802  127.034248
3   150  37.539740  127.036278
4   151  37.532717  127.059054
..  ...        ...         ...
57  263  37.561298  126.885897
58  264  37.542864  126.930157
59  302  37.527391  126.932231
60  303  37.513400  126.957905
61  306  37.513432  126.926557

[62 rows x 3 columns]

In [603]:
river.to_csv('data/ProcessedData/location/river_loc.csv', index=False, encoding='cp949')

# 서울시 지하철역정보 데이터 전처리

### 지하철 구별 분포도

In [3]:
subway = pd.read_csv('data/서울시지하철정보.csv', encoding='cp949')
subway

,전철역코드,전철역명,전철역명_영문,호선,외부코드,사이버스테이션,관리소코드,관리소명,개통일,전화번호,...,에스컬레이터,휠체어리프트시설,스피드게이트,화장실,역명한자,유래,X좌표,Y좌표,X좌표(WGS),Y좌표(WGS)
0,1907,가능,Ganeung,1,109,1907,410000.0,철도청구간,NaN,031-828-3249,...,NaN,NaN,NaN,게이트 외부,佳陵,각 대신들이 이곳에서 정무를 논의하였다 하여 의정부라는 지명이 생성된데서 유래,509550.0,1179510.0,37.748577,127.044213
1,1702,가산디지털단지,Gasan Digital Complex,1,P142,1702,410000.0,철도청구간,NaN,02-2639-3332,...,NaN,NaN,NaN,게이트 외부,加山디지털團地,NaN,473861.0,1105307.0,37.481072,126.882343
2,1702,가산디지털단지,Gasan Digital Complex,1,P142,1702,410000.0,철도청구간,NaN,02-2639-3332,...,NaN,NaN,NaN,게이트 외부,加山디지털團地,역이 위치한 행정구역명과 서울디지털산업단지가 입지한 지역특성 감안하여 2005년 7...,473861.0,1105307.0,37.481072,126.882343
3,1816,간석,Ganseok,1,155,1816,410000.0,철도청구간,NaN,032-427-7788,...,NaN,NaN,NaN,게이트 내부,間石,신설당시 염전지역으로 가칭 염빙역으로 하였으나 산업화의 변동으로 염전이 서서히 사라...,432214.0,1100821.0,37.464737,126.694181
4,1801,개봉,Gaebong,1,143,1801,410000.0,철도청구간,NaN,02-2639-3297,...,NaN,NaN,NaN,게이트 외부,開峯,현재 경인선과 남부순환로가 교차하는 남쪽에 있는 개웅산의 (개)자와 양천구 신정동과...,468537.0,1109170.0,37.494594,126.858680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,4713,신설동,Sinseol-dong,UI,953,156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,505342.0,1131412.0,37.575297,127.025087
925,4713,신설동,Sinseol-dong,UI,953,156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,505342.0,1131412.0,37.575297,127.025087
926,4713,신설동,Sinseol-dong,UI,953,156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,○ 역이 위치한 동명에서 유래한 것으로 신설동은 조선 중기 동부 숭신방에 새로 설치...,505342.0,1131412.0,37.575297,127.025087
927,4710,정릉,Jeongneung,UI,950,4710,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
928,4705,화계,Hwagye,UI,945,4705,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
subway = subway.query("호선 not in ['E','I','I2','KK','SU','U']")
subway

,전철역코드,전철역명,전철역명_영문,호선,외부코드,사이버스테이션,관리소코드,관리소명,개통일,전화번호,...,에스컬레이터,휠체어리프트시설,스피드게이트,화장실,역명한자,유래,X좌표,Y좌표,X좌표(WGS),Y좌표(WGS)
0,1907,가능,Ganeung,1,109,1907,410000.0,철도청구간,NaN,031-828-3249,...,NaN,NaN,NaN,게이트 외부,佳陵,각 대신들이 이곳에서 정무를 논의하였다 하여 의정부라는 지명이 생성된데서 유래,509550.0,1179510.0,37.748577,127.044213
1,1702,가산디지털단지,Gasan Digital Complex,1,P142,1702,410000.0,철도청구간,NaN,02-2639-3332,...,NaN,NaN,NaN,게이트 외부,加山디지털團地,NaN,473861.0,1105307.0,37.481072,126.882343
2,1702,가산디지털단지,Gasan Digital Complex,1,P142,1702,410000.0,철도청구간,NaN,02-2639-3332,...,NaN,NaN,NaN,게이트 외부,加山디지털團地,역이 위치한 행정구역명과 서울디지털산업단지가 입지한 지역특성 감안하여 2005년 7...,473861.0,1105307.0,37.481072,126.882343
3,1816,간석,Ganseok,1,155,1816,410000.0,철도청구간,NaN,032-427-7788,...,NaN,NaN,NaN,게이트 내부,間石,신설당시 염전지역으로 가칭 염빙역으로 하였으나 산업화의 변동으로 염전이 서서히 사라...,432214.0,1100821.0,37.464737,126.694181
4,1801,개봉,Gaebong,1,143,1801,410000.0,철도청구간,NaN,02-2639-3297,...,NaN,NaN,NaN,게이트 외부,開峯,현재 경인선과 남부순환로가 교차하는 남쪽에 있는 개웅산의 (개)자와 양천구 신정동과...,468537.0,1109170.0,37.494594,126.858680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,4713,신설동,Sinseol-dong,UI,953,156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,505342.0,1131412.0,37.575297,127.025087
925,4713,신설동,Sinseol-dong,UI,953,156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,505342.0,1131412.0,37.575297,127.025087
926,4713,신설동,Sinseol-dong,UI,953,156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,○ 역이 위치한 동명에서 유래한 것으로 신설동은 조선 중기 동부 숭신방에 새로 설치...,505342.0,1131412.0,37.575297,127.025087
927,4710,정릉,Jeongneung,UI,950,4710,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
928,4705,화계,Hwagye,UI,945,4705,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
subway = subway[['전철역명_영문','주소']]
subway

                   전철역명_영문                    주소
0                  Ganeung      경기도 의정부시 평화로 633
1    Gasan Digital Complex     서울특별시 금천구 벚꽃로 309
2    Gasan Digital Complex     서울특별시 금천구 벚꽃로 309
3                  Ganseok  인천광역시 남동구 석정로 522-14
4                  Gaebong   서울특별시 구로구 경인로40길 47
..                     ...                   ...
924           Sinseol-dong                   NaN
925           Sinseol-dong                   NaN
926           Sinseol-dong                   NaN
927             Jeongneung                   NaN
928                 Hwagye                   NaN

[803 rows x 2 columns]

In [6]:
subway['city'] = subway['주소'].dropna().apply(lambda x: x.split(' ')[0])
subway['gu'] = subway['주소'].dropna().apply(lambda x: x.split(' ')[1])
subway

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                   전철역명_영문                    주소   city    gu
0                  Ganeung      경기도 의정부시 평화로 633    경기도  의정부시
1    Gasan Digital Complex     서울특별시 금천구 벚꽃로 309  서울특별시   금천구
2    Gasan Digital Complex     서울특별시 금천구 벚꽃로 309  서울특별시   금천구
3                  Ganseok  인천광역시 남동구 석정로 522-14  인천광역시   남동구
4                  Gaebong   서울특별시 구로구 경인로40길 47  서울특별시   구로구
..                     ...                   ...    ...   ...
924           Sinseol-dong                   NaN    NaN   NaN
925           Sinseol-dong                   NaN    NaN   NaN
926           Sinseol-dong                   NaN    NaN   NaN
927             Jeongneung                   NaN    NaN   NaN
928                 Hwagye                   NaN    NaN   NaN

[803 rows x 4 columns]

In [7]:
subway = subway[subway.주소.notnull()]
subway

                   전철역명_영문                       주소   city    gu
0                  Ganeung         경기도 의정부시 평화로 633    경기도  의정부시
1    Gasan Digital Complex        서울특별시 금천구 벚꽃로 309  서울특별시   금천구
2    Gasan Digital Complex        서울특별시 금천구 벚꽃로 309  서울특별시   금천구
3                  Ganseok     인천광역시 남동구 석정로 522-14  인천광역시   남동구
4                  Gaebong      서울특별시 구로구 경인로40길 47  서울특별시   구로구
..                     ...                      ...    ...   ...
874                 Jungja  경기도 성남시 분당구 성남대로 지하 333    경기도   성남시
875                 Jungja  경기도 성남시 분당구 성남대로 지하 333    경기도   성남시
876           Cheonggyesan    서울특별시 서초구 청계산로 지하 179  서울특별시   서초구
877                 Pangyo  경기도 성남시 분당구 판교역로 지하 160    경기도   성남시
878                 Pangyo  경기도 성남시 분당구 판교역로 지하 160    경기도   성남시

[775 rows x 4 columns]

In [8]:
subway = subway.query("city == '서울특별시'")
subway

                      전철역명_영문                       주소   city   gu
1       Gasan Digital Complex        서울특별시 금천구 벚꽃로 309  서울특별시  금천구
2       Gasan Digital Complex        서울특별시 금천구 벚꽃로 309  서울특별시  금천구
4                     Gaebong      서울특별시 구로구 경인로40길 47  서울특별시  구로구
7             Kwangwoon Univ.       서울특별시 노원구 석계로 98-2  서울특별시  노원구
8             Kwangwoon Univ.       서울특별시 노원구 석계로 98-2  서울특별시  노원구
..                        ...                      ...    ...  ...
864                   Gangnam    서울특별시 강남구 강남대로 지하 396  서울특별시  강남구
871                   Yangjae  서울특별시 서초구 남부순환로 지하 2585  서울특별시  서초구
872                   Yangjae  서울특별시 서초구 남부순환로 지하 2585  서울특별시  서초구
873  Yangjae Citizen's Forest     서울특별시 서초구 매헌로 지하 116  서울특별시  서초구
876              Cheonggyesan    서울특별시 서초구 청계산로 지하 179  서울특별시  서초구

[559 rows x 4 columns]

In [9]:
subway = subway[['전철역명_영문','city','gu']]
subway

                      전철역명_영문   city   gu
1       Gasan Digital Complex  서울특별시  금천구
2       Gasan Digital Complex  서울특별시  금천구
4                     Gaebong  서울특별시  구로구
7             Kwangwoon Univ.  서울특별시  노원구
8             Kwangwoon Univ.  서울특별시  노원구
..                        ...    ...  ...
864                   Gangnam  서울특별시  강남구
871                   Yangjae  서울특별시  서초구
872                   Yangjae  서울특별시  서초구
873  Yangjae Citizen's Forest  서울특별시  서초구
876              Cheonggyesan  서울특별시  서초구

[559 rows x 3 columns]

In [10]:
subway.isna().sum()

전철역명_영문    0
city       0
gu         0
dtype: int64

In [11]:
subway = subway.drop_duplicates()
subway

                      전철역명_영문   city   gu
1       Gasan Digital Complex  서울특별시  금천구
4                     Gaebong  서울특별시  구로구
7             Kwangwoon Univ.  서울특별시  노원구
9                        Guro  서울특별시  구로구
10                       Guil  서울특별시  구로구
..                        ...    ...  ...
825                  Eungbong  서울특별시  성동구
839                    Hannam  서울특별시  용산구
841               Hongik.Univ  서울특별시  마포구
873  Yangjae Citizen's Forest  서울특별시  서초구
876              Cheonggyesan  서울특별시  서초구

[293 rows x 3 columns]

In [12]:
subway.전철역명_영문.nunique()

290

In [13]:
subway = subway.groupby('gu')['전철역명_영문'].agg('count').reset_index()
subway

      gu  전철역명_영문
0    강남구       28
1    강동구       10
2    강북구        3
3    강서구       19
4    관악구        4
5    광진구        9
6    구로구       11
7    금천구        3
8    노원구       13
9    도봉구        6
10  동대문구        8
11   동작구       14
12   마포구       17
13  서대문구        6
14   서초구       15
15   성동구       15
16   성북구        9
17   송파구       18
18   양천구        6
19  영등포구       15
20   용산구       14
21   은평구       13
22   종로구       12
23    중구       14
24   중랑구       11

In [14]:
subway.columns = ['gu','subway_cnt']
subway

      gu  subway_cnt
0    강남구          28
1    강동구          10
2    강북구           3
3    강서구          19
4    관악구           4
5    광진구           9
6    구로구          11
7    금천구           3
8    노원구          13
9    도봉구           6
10  동대문구           8
11   동작구          14
12   마포구          17
13  서대문구           6
14   서초구          15
15   성동구          15
16   성북구           9
17   송파구          18
18   양천구           6
19  영등포구          15
20   용산구          14
21   은평구          13
22   종로구          12
23    중구          14
24   중랑구          11

In [16]:
subway.to_csv('data/Processeddata/subway_cnt.csv', index=False, encoding='cp949')

### 지하철 위치

In [17]:
subway = pd.read_csv('data/서울시지하철정보.csv', encoding='cp949')
subway

,전철역코드,전철역명,전철역명_영문,호선,외부코드,사이버스테이션,관리소코드,관리소명,개통일,전화번호,...,에스컬레이터,휠체어리프트시설,스피드게이트,화장실,역명한자,유래,X좌표,Y좌표,X좌표(WGS),Y좌표(WGS)
0,1907,가능,Ganeung,1,109,1907,410000.0,철도청구간,NaN,031-828-3249,...,NaN,NaN,NaN,게이트 외부,佳陵,각 대신들이 이곳에서 정무를 논의하였다 하여 의정부라는 지명이 생성된데서 유래,509550.0,1179510.0,37.748577,127.044213
1,1702,가산디지털단지,Gasan Digital Complex,1,P142,1702,410000.0,철도청구간,NaN,02-2639-3332,...,NaN,NaN,NaN,게이트 외부,加山디지털團地,NaN,473861.0,1105307.0,37.481072,126.882343
2,1702,가산디지털단지,Gasan Digital Complex,1,P142,1702,410000.0,철도청구간,NaN,02-2639-3332,...,NaN,NaN,NaN,게이트 외부,加山디지털團地,역이 위치한 행정구역명과 서울디지털산업단지가 입지한 지역특성 감안하여 2005년 7...,473861.0,1105307.0,37.481072,126.882343
3,1816,간석,Ganseok,1,155,1816,410000.0,철도청구간,NaN,032-427-7788,...,NaN,NaN,NaN,게이트 내부,間石,신설당시 염전지역으로 가칭 염빙역으로 하였으나 산업화의 변동으로 염전이 서서히 사라...,432214.0,1100821.0,37.464737,126.694181
4,1801,개봉,Gaebong,1,143,1801,410000.0,철도청구간,NaN,02-2639-3297,...,NaN,NaN,NaN,게이트 외부,開峯,현재 경인선과 남부순환로가 교차하는 남쪽에 있는 개웅산의 (개)자와 양천구 신정동과...,468537.0,1109170.0,37.494594,126.858680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,4713,신설동,Sinseol-dong,UI,953,156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,505342.0,1131412.0,37.575297,127.025087
925,4713,신설동,Sinseol-dong,UI,953,156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,505342.0,1131412.0,37.575297,127.025087
926,4713,신설동,Sinseol-dong,UI,953,156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,○ 역이 위치한 동명에서 유래한 것으로 신설동은 조선 중기 동부 숭신방에 새로 설치...,505342.0,1131412.0,37.575297,127.025087
927,4710,정릉,Jeongneung,UI,950,4710,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
928,4705,화계,Hwagye,UI,945,4705,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
subway = subway.query("호선 not in ['E','I','I2','KK','SU','U']")
subway

,전철역코드,전철역명,전철역명_영문,호선,외부코드,사이버스테이션,관리소코드,관리소명,개통일,전화번호,...,에스컬레이터,휠체어리프트시설,스피드게이트,화장실,역명한자,유래,X좌표,Y좌표,X좌표(WGS),Y좌표(WGS)
0,1907,가능,Ganeung,1,109,1907,410000.0,철도청구간,NaN,031-828-3249,...,NaN,NaN,NaN,게이트 외부,佳陵,각 대신들이 이곳에서 정무를 논의하였다 하여 의정부라는 지명이 생성된데서 유래,509550.0,1179510.0,37.748577,127.044213
1,1702,가산디지털단지,Gasan Digital Complex,1,P142,1702,410000.0,철도청구간,NaN,02-2639-3332,...,NaN,NaN,NaN,게이트 외부,加山디지털團地,NaN,473861.0,1105307.0,37.481072,126.882343
2,1702,가산디지털단지,Gasan Digital Complex,1,P142,1702,410000.0,철도청구간,NaN,02-2639-3332,...,NaN,NaN,NaN,게이트 외부,加山디지털團地,역이 위치한 행정구역명과 서울디지털산업단지가 입지한 지역특성 감안하여 2005년 7...,473861.0,1105307.0,37.481072,126.882343
3,1816,간석,Ganseok,1,155,1816,410000.0,철도청구간,NaN,032-427-7788,...,NaN,NaN,NaN,게이트 내부,間石,신설당시 염전지역으로 가칭 염빙역으로 하였으나 산업화의 변동으로 염전이 서서히 사라...,432214.0,1100821.0,37.464737,126.694181
4,1801,개봉,Gaebong,1,143,1801,410000.0,철도청구간,NaN,02-2639-3297,...,NaN,NaN,NaN,게이트 외부,開峯,현재 경인선과 남부순환로가 교차하는 남쪽에 있는 개웅산의 (개)자와 양천구 신정동과...,468537.0,1109170.0,37.494594,126.858680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,4713,신설동,Sinseol-dong,UI,953,156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,505342.0,1131412.0,37.575297,127.025087
925,4713,신설동,Sinseol-dong,UI,953,156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,505342.0,1131412.0,37.575297,127.025087
926,4713,신설동,Sinseol-dong,UI,953,156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,○ 역이 위치한 동명에서 유래한 것으로 신설동은 조선 중기 동부 숭신방에 새로 설치...,505342.0,1131412.0,37.575297,127.025087
927,4710,정릉,Jeongneung,UI,950,4710,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
928,4705,화계,Hwagye,UI,945,4705,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
subway = subway[['전철역명_영문','주소','X좌표(WGS)','Y좌표(WGS)']]
subway

                   전철역명_영문                    주소   X좌표(WGS)    Y좌표(WGS)
0                  Ganeung      경기도 의정부시 평화로 633  37.748577  127.044213
1    Gasan Digital Complex     서울특별시 금천구 벚꽃로 309  37.481072  126.882343
2    Gasan Digital Complex     서울특별시 금천구 벚꽃로 309  37.481072  126.882343
3                  Ganseok  인천광역시 남동구 석정로 522-14  37.464737  126.694181
4                  Gaebong   서울특별시 구로구 경인로40길 47  37.494594  126.858680
..                     ...                   ...        ...         ...
924           Sinseol-dong                   NaN  37.575297  127.025087
925           Sinseol-dong                   NaN  37.575297  127.025087
926           Sinseol-dong                   NaN  37.575297  127.025087
927             Jeongneung                   NaN        NaN         NaN
928                 Hwagye                   NaN        NaN         NaN

[803 rows x 4 columns]

In [20]:
subway['city'] = subway['주소'].dropna().apply(lambda x: x.split(' ')[0])
subway['gu'] = subway['주소'].dropna().apply(lambda x: x.split(' ')[1])
subway

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,전철역명_영문,주소,X좌표(WGS),Y좌표(WGS),city,gu
0,Ganeung,경기도 의정부시 평화로 633,37.748577,127.044213,경기도,의정부시
1,Gasan Digital Complex,서울특별시 금천구 벚꽃로 309,37.481072,126.882343,서울특별시,금천구
2,Gasan Digital Complex,서울특별시 금천구 벚꽃로 309,37.481072,126.882343,서울특별시,금천구
3,Ganseok,인천광역시 남동구 석정로 522-14,37.464737,126.694181,인천광역시,남동구
4,Gaebong,서울특별시 구로구 경인로40길 47,37.494594,126.858680,서울특별시,구로구
...,...,...,...,...,...,...
924,Sinseol-dong,NaN,37.575297,127.025087,NaN,NaN
925,Sinseol-dong,NaN,37.575297,127.025087,NaN,NaN
926,Sinseol-dong,NaN,37.575297,127.025087,NaN,NaN
927,Jeongneung,NaN,NaN,NaN,NaN,NaN
928,Hwagye,NaN,NaN,NaN,NaN,NaN

In [21]:
subway = subway[subway.주소.notnull()]
subway

,전철역명_영문,주소,X좌표(WGS),Y좌표(WGS),city,gu
0,Ganeung,경기도 의정부시 평화로 633,37.748577,127.044213,경기도,의정부시
1,Gasan Digital Complex,서울특별시 금천구 벚꽃로 309,37.481072,126.882343,서울특별시,금천구
2,Gasan Digital Complex,서울특별시 금천구 벚꽃로 309,37.481072,126.882343,서울특별시,금천구
3,Ganseok,인천광역시 남동구 석정로 522-14,37.464737,126.694181,인천광역시,남동구
4,Gaebong,서울특별시 구로구 경인로40길 47,37.494594,126.858680,서울특별시,구로구
...,...,...,...,...,...,...
874,Jungja,경기도 성남시 분당구 성남대로 지하 333,37.367060,127.108105,경기도,성남시
875,Jungja,경기도 성남시 분당구 성남대로 지하 333,37.367060,127.108105,경기도,성남시
876,Cheonggyesan,서울특별시 서초구 청계산로 지하 179,37.447211,127.055664,서울특별시,서초구
877,Pangyo,경기도 성남시 분당구 판교역로 지하 160,37.394761,127.111217,경기도,성남시
878,Pangyo,경기도 성남시 분당구 판교역로 지하 160,37.394761,127.111217,경기도,성남시

In [22]:
subway = subway.query("city == '서울특별시'")
subway

,전철역명_영문,주소,X좌표(WGS),Y좌표(WGS),city,gu
1,Gasan Digital Complex,서울특별시 금천구 벚꽃로 309,37.481072,126.882343,서울특별시,금천구
2,Gasan Digital Complex,서울특별시 금천구 벚꽃로 309,37.481072,126.882343,서울특별시,금천구
4,Gaebong,서울특별시 구로구 경인로40길 47,37.494594,126.858680,서울특별시,구로구
7,Kwangwoon Univ.,서울특별시 노원구 석계로 98-2,37.623632,127.061835,서울특별시,노원구
8,Kwangwoon Univ.,서울특별시 노원구 석계로 98-2,37.623632,127.061835,서울특별시,노원구
...,...,...,...,...,...,...
864,Gangnam,서울특별시 강남구 강남대로 지하 396,37.497175,127.027926,서울특별시,강남구
871,Yangjae,서울특별시 서초구 남부순환로 지하 2585,37.484147,127.034631,서울특별시,서초구
872,Yangjae,서울특별시 서초구 남부순환로 지하 2585,37.484147,127.034631,서울특별시,서초구
873,Yangjae Citizen's Forest,서울특별시 서초구 매헌로 지하 116,37.470023,127.038420,서울특별시,서초구
876,Cheonggyesan,서울특별시 서초구 청계산로 지하 179,37.447211,127.055664,서울특별시,서초구

In [23]:
subway = subway[['전철역명_영문','X좌표(WGS)','Y좌표(WGS)']]
subway

                      전철역명_영문   X좌표(WGS)    Y좌표(WGS)
1       Gasan Digital Complex  37.481072  126.882343
2       Gasan Digital Complex  37.481072  126.882343
4                     Gaebong  37.494594  126.858680
7             Kwangwoon Univ.  37.623632  127.061835
8             Kwangwoon Univ.  37.623632  127.061835
..                        ...        ...         ...
864                   Gangnam  37.497175  127.027926
871                   Yangjae  37.484147  127.034631
872                   Yangjae  37.484147  127.034631
873  Yangjae Citizen's Forest  37.470023  127.038420
876              Cheonggyesan  37.447211  127.055664

[559 rows x 3 columns]

In [24]:
subway.isna().sum()

전철역명_영문     0
X좌표(WGS)    0
Y좌표(WGS)    0
dtype: int64

In [25]:
subway = subway.drop_duplicates()
subway

                      전철역명_영문   X좌표(WGS)    Y좌표(WGS)
1       Gasan Digital Complex  37.481072  126.882343
4                     Gaebong  37.494594  126.858680
7             Kwangwoon Univ.  37.623632  127.061835
9                        Guro  37.503039  126.881966
10                       Guil  37.496756  126.870793
..                        ...        ...         ...
825                  Eungbong  37.549946  127.034538
839                    Hannam  37.529430  127.009169
841               Hongik.Univ  37.557192  126.925381
873  Yangjae Citizen's Forest  37.470023  127.038420
876              Cheonggyesan  37.447211  127.055664

[290 rows x 3 columns]

In [26]:
subway.전철역명_영문.nunique()

290

In [27]:
subway.columns = ['name','lat','lng']
subway

                         name        lat         lng
1       Gasan Digital Complex  37.481072  126.882343
4                     Gaebong  37.494594  126.858680
7             Kwangwoon Univ.  37.623632  127.061835
9                        Guro  37.503039  126.881966
10                       Guil  37.496756  126.870793
..                        ...        ...         ...
825                  Eungbong  37.549946  127.034538
839                    Hannam  37.529430  127.009169
841               Hongik.Univ  37.557192  126.925381
873  Yangjae Citizen's Forest  37.470023  127.038420
876              Cheonggyesan  37.447211  127.055664

[290 rows x 3 columns]

In [28]:
subway.to_csv('data/Processeddata/location/subway_loc.csv', index=False, encoding='cp949')

# 서울시 공원정보 데이터 전처리

In [519]:
park = pd.read_csv('data/park.csv', encoding='cp949')
park

             공원명    구         위도          경도
0         신사근린공원  강남구  37.526708  127.021458
1         대청근린공원  강남구  37.492415  127.083375
2        늘푸른근린공원  강남구  37.489885  127.077436
3        개포서근린공원  강남구  37.488628  127.064142
4        개포동근린공원  강남구  37.489686  127.059526
...          ...  ...        ...         ...
1666       묵동소공원  중랑구  37.615572  127.078098
1667      묵1동소공원  중랑구  37.611736  127.077666
1668  코오롱하늘채앞소공원  중랑구  37.571970  127.086451
1669   불암산도시자연공원  노원구  37.663672  127.095271
1670   수락산도시자연공원  노원구  37.699232  127.081363

[1671 rows x 4 columns]

In [587]:
park_cnt = park.groupby('구')['공원명'].agg('count').reset_index()
park_cnt = park_cnt.query("구 not in ['구로구개봉동','한강로2가','한강로3가']")
park_cnt.head()

     구  공원명
0  강남구  134
1  강동구   74
2  강북구   45
3  강서구  139
4  관악구   76

In [588]:
park_cnt.columns = ['gu','park_cnt']
park_cnt.head()

    gu  park_cnt
0  강남구       134
1  강동구        74
2  강북구        45
3  강서구       139
4  관악구        76

In [589]:
park_cnt.to_csv('data/ProcessedData/park_cnt.csv', index=False, encoding='cp949')

In [165]:
park = pd.read_csv('data/park.csv', encoding='cp949')
park

             공원명    구         위도          경도
0         신사근린공원  강남구  37.526708  127.021458
1         대청근린공원  강남구  37.492415  127.083375
2        늘푸른근린공원  강남구  37.489885  127.077436
3        개포서근린공원  강남구  37.488628  127.064142
4        개포동근린공원  강남구  37.489686  127.059526
...          ...  ...        ...         ...
1666       묵동소공원  중랑구  37.615572  127.078098
1667      묵1동소공원  중랑구  37.611736  127.077666
1668  코오롱하늘채앞소공원  중랑구  37.571970  127.086451
1669   불암산도시자연공원  노원구  37.663672  127.095271
1670   수락산도시자연공원  노원구  37.699232  127.081363

[1671 rows x 4 columns]

In [166]:
park.columns = ['name','gu','lat','lng']
park.head()

      name   gu        lat         lng
0   신사근린공원  강남구  37.526708  127.021458
1   대청근린공원  강남구  37.492415  127.083375
2  늘푸른근린공원  강남구  37.489885  127.077436
3  개포서근린공원  강남구  37.488628  127.064142
4  개포동근린공원  강남구  37.489686  127.059526

In [167]:
park.to_csv('data/ProcessedData/location/park_loc.csv', index=False, encoding='cp949')

In [589]:
# 1회차 park_cnt.csv 데이터 전처리
'''park = pd.read_csv('data/park.csv', encoding='cp949')
park

park_cnt = park.groupby('구')['공원명'].agg('count').reset_index()
park_cnt = park_cnt.query("구 not in ['구로구개봉동','한강로2가','한강로3가']")
park_cnt.head()

park_cnt.columns = ['gu','park_cnt']
park_cnt.head()

park_cnt.to_csv('data/ProcessedData/park_cnt.csv', index=False, encoding='cp949')'''

In [167]:
# 2회차 park_loc.csv 데이터 전처리
'''park = pd.read_csv('data/park.csv', encoding='cp949')
park

park.columns = ['name','gu','lat','lng']
park.head()

park.to_csv('data/ProcessedData/location/park_loc.csv', index=False, encoding='cp949')'''

# 서울시 법정동코드 데이터 전처리

In [4]:
dong_code = pd.read_excel('data/법정동코드.xlsx')
dong_code

            법정동코드      시도명  시군구명 읍면동명  동리명      생성일자  말소일자
0      1100000000    서울특별시   NaN  NaN  NaN  19880423   NaN
1      1111000000    서울특별시   종로구  NaN  NaN  19880423   NaN
2      1111010100    서울특별시   종로구  청운동  NaN  19880423   NaN
3      1111010200    서울특별시   종로구  신교동  NaN  19880423   NaN
4      1111010300    서울특별시   종로구  궁정동  NaN  19880423   NaN
...           ...      ...   ...  ...  ...       ...   ...
20551  5013032022  제주특별자치도  서귀포시  표선면  하천리  20060701   NaN
20552  5013032023  제주특별자치도  서귀포시  표선면  성읍리  20060701   NaN
20553  5013032024  제주특별자치도  서귀포시  표선면  가시리  20060701   NaN
20554  5013032025  제주특별자치도  서귀포시  표선면  세화리  20060701   NaN
20555  5013032026  제주특별자치도  서귀포시  표선면  토산리  20060701   NaN

[20556 rows x 7 columns]

In [5]:
dong_code = dong_code.query("시도명 == '서울특별시'")
dong_code

          법정동코드    시도명 시군구명 읍면동명  동리명      생성일자  말소일자
0    1100000000  서울특별시  NaN  NaN  NaN  19880423   NaN
1    1111000000  서울특별시  종로구  NaN  NaN  19880423   NaN
2    1111010100  서울특별시  종로구  청운동  NaN  19880423   NaN
3    1111010200  서울특별시  종로구  신교동  NaN  19880423   NaN
4    1111010300  서울특별시  종로구  궁정동  NaN  19880423   NaN
..          ...    ...  ...  ...  ...       ...   ...
488  1174010600  서울특별시  강동구  둔촌동  NaN  19880423   NaN
489  1174010700  서울특별시  강동구  암사동  NaN  19880423   NaN
490  1174010800  서울특별시  강동구  성내동  NaN  19880423   NaN
491  1174010900  서울특별시  강동구  천호동  NaN  19880423   NaN
492  1174011000  서울특별시  강동구  강일동  NaN  20070101   NaN

[493 rows x 7 columns]

In [6]:
len(dong_code[dong_code.읍면동명.isna()])

26

In [7]:
dong_code = dong_code[dong_code.읍면동명.notnull()]
dong_code

          법정동코드    시도명 시군구명 읍면동명  동리명      생성일자  말소일자
2    1111010100  서울특별시  종로구  청운동  NaN  19880423   NaN
3    1111010200  서울특별시  종로구  신교동  NaN  19880423   NaN
4    1111010300  서울특별시  종로구  궁정동  NaN  19880423   NaN
5    1111010400  서울특별시  종로구  효자동  NaN  19880423   NaN
6    1111010500  서울특별시  종로구  창성동  NaN  19880423   NaN
..          ...    ...  ...  ...  ...       ...   ...
488  1174010600  서울특별시  강동구  둔촌동  NaN  19880423   NaN
489  1174010700  서울특별시  강동구  암사동  NaN  19880423   NaN
490  1174010800  서울특별시  강동구  성내동  NaN  19880423   NaN
491  1174010900  서울특별시  강동구  천호동  NaN  19880423   NaN
492  1174011000  서울특별시  강동구  강일동  NaN  20070101   NaN

[467 rows x 7 columns]

In [8]:
dong_code.to_csv('data/dong_code.csv', index=False, encoding='cp949')

# 서울시 어린이집 정보 데이터 전처리

In [15]:
import numpy as np

In [129]:
day_care = pd.read_csv('data/day_care_center.csv')
day_care

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
0,서울특별시,서대문구,가람어린이집,국공립,70,11.0,5.0,1.0,7.0,N,2018-07-31
1,서울특별시,서대문구,가좌제일어린이집,국공립,88,22.0,5.0,2.0,10.0,N,2018-07-31
2,서울특별시,서대문구,경찰청어린이집,직장,90,23.0,6.0,1.0,32.0,N,2018-07-31
3,서울특별시,서대문구,고운햇살어린이집,가정,18,5.0,3.0,0.0,4.0,N,2018-07-31
4,서울특별시,서대문구,고은어린이집,국공립,93,20.0,7.0,2.0,10.0,N,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...
7546,부산광역시,금정구,해바라기어린이집,민간,46,13.0,NaN,NaN,NaN,y,2019-01-21
7547,부산광역시,금정구,해수어린이집,가정,19,6.0,NaN,NaN,NaN,y,2019-01-21
7548,부산광역시,금정구,행복한그림동산어린이집,민간,92,16.0,NaN,NaN,NaN,y,2019-01-21
7549,부산광역시,금정구,행복한어린이집,민간,43,12.0,NaN,NaN,NaN,y,2019-01-21
7550,부산광역시,금정구,혜인어린이집,민간,32,7.0,NaN,NaN,NaN,y,2019-01-21

In [130]:
day_care = day_care.query("city == '서울특별시'")
day_care

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
0,서울특별시,서대문구,가람어린이집,국공립,70,11.0,5.0,1.0,7.0,N,2018-07-31
1,서울특별시,서대문구,가좌제일어린이집,국공립,88,22.0,5.0,2.0,10.0,N,2018-07-31
2,서울특별시,서대문구,경찰청어린이집,직장,90,23.0,6.0,1.0,32.0,N,2018-07-31
3,서울특별시,서대문구,고운햇살어린이집,가정,18,5.0,3.0,0.0,4.0,N,2018-07-31
4,서울특별시,서대문구,고은어린이집,국공립,93,20.0,7.0,2.0,10.0,N,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...
7440,서울특별시,강남구,현이어린이집,가정,20,NaN,NaN,NaN,NaN,NaN,2019-03-05
7441,서울특별시,강남구,현지아한솔어린이집,민간,37,NaN,NaN,NaN,NaN,NaN,2019-03-05
7442,서울특별시,강남구,호야 어린이집,가정,19,NaN,NaN,NaN,NaN,NaN,2019-03-05
7443,서울특별시,강남구,힐스어린이집,국공립,92,NaN,NaN,NaN,NaN,NaN,2019-03-05
7444,서울특별시,강남구,힐즈어린이집,협동,69,NaN,NaN,NaN,NaN,NaN,2019-03-05

In [18]:
day_care.isna().sum()

city                       0
gu                         0
day_care_name              0
day_care_type              0
day_care_baby_num          0
teacher_num              225
nursing_room_num        2699
playground_num          3163
CCTV_num                1811
is_commuting_vehicle     495
reference_date             0
dtype: int64

## 통학차량 운행여부 결측치 처리

In [19]:
day_care.is_commuting_vehicle.unique()

array(['N', 'Y', ' ', nan], dtype=object)

In [20]:
day_care.is_commuting_vehicle = day_care.is_commuting_vehicle.fillna('N')
day_care

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
0,서울특별시,서대문구,가람어린이집,국공립,70,11.0,5.0,1.0,7.0,N,2018-07-31
1,서울특별시,서대문구,가좌제일어린이집,국공립,88,22.0,5.0,2.0,10.0,N,2018-07-31
2,서울특별시,서대문구,경찰청어린이집,직장,90,23.0,6.0,1.0,32.0,N,2018-07-31
3,서울특별시,서대문구,고운햇살어린이집,가정,18,5.0,3.0,0.0,4.0,N,2018-07-31
4,서울특별시,서대문구,고은어린이집,국공립,93,20.0,7.0,2.0,10.0,N,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...
7440,서울특별시,강남구,현이어린이집,가정,20,NaN,NaN,NaN,NaN,N,2019-03-05
7441,서울특별시,강남구,현지아한솔어린이집,민간,37,NaN,NaN,NaN,NaN,N,2019-03-05
7442,서울특별시,강남구,호야 어린이집,가정,19,NaN,NaN,NaN,NaN,N,2019-03-05
7443,서울특별시,강남구,힐스어린이집,국공립,92,NaN,NaN,NaN,NaN,N,2019-03-05
7444,서울특별시,강남구,힐즈어린이집,협동,69,NaN,NaN,NaN,NaN,N,2019-03-05

In [21]:
day_care.isna().sum()

city                       0
gu                         0
day_care_name              0
day_care_type              0
day_care_baby_num          0
teacher_num              225
nursing_room_num        2699
playground_num          3163
CCTV_num                1811
is_commuting_vehicle       0
reference_date             0
dtype: int64

In [22]:
day_care.is_commuting_vehicle.unique()

array(['N', 'Y', ' '], dtype=object)

In [23]:
day_care.is_commuting_vehicle.value_counts()

N    4067
Y    1188
      401
Name: is_commuting_vehicle, dtype: int64

In [24]:
missing_val = day_care.loc[day_care.is_commuting_vehicle == ' ','is_commuting_vehicle']
missing_val

2097
2098
2099
2100
2101
       ..
3755
3756
3757
3758
3759
Name: is_commuting_vehicle, Length: 401, dtype: object

In [25]:
idx = missing_val.index
idx

Int64Index([2097, 2098, 2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106,
            ...
            3750, 3751, 3752, 3753, 3754, 3755, 3756, 3757, 3758, 3759],
           dtype='int64', length=401)

In [26]:
for i in range(401):
    day_care.at[idx[i], 'is_commuting_vehicle'] = 'N'
day_care

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
0,서울특별시,서대문구,가람어린이집,국공립,70,11.0,5.0,1.0,7.0,N,2018-07-31
1,서울특별시,서대문구,가좌제일어린이집,국공립,88,22.0,5.0,2.0,10.0,N,2018-07-31
2,서울특별시,서대문구,경찰청어린이집,직장,90,23.0,6.0,1.0,32.0,N,2018-07-31
3,서울특별시,서대문구,고운햇살어린이집,가정,18,5.0,3.0,0.0,4.0,N,2018-07-31
4,서울특별시,서대문구,고은어린이집,국공립,93,20.0,7.0,2.0,10.0,N,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...
7440,서울특별시,강남구,현이어린이집,가정,20,NaN,NaN,NaN,NaN,N,2019-03-05
7441,서울특별시,강남구,현지아한솔어린이집,민간,37,NaN,NaN,NaN,NaN,N,2019-03-05
7442,서울특별시,강남구,호야 어린이집,가정,19,NaN,NaN,NaN,NaN,N,2019-03-05
7443,서울특별시,강남구,힐스어린이집,국공립,92,NaN,NaN,NaN,NaN,N,2019-03-05
7444,서울특별시,강남구,힐즈어린이집,협동,69,NaN,NaN,NaN,NaN,N,2019-03-05

In [27]:
day_care.is_commuting_vehicle.value_counts()

N    4468
Y    1188
Name: is_commuting_vehicle, dtype: int64

In [28]:
day_care.isna().sum()

city                       0
gu                         0
day_care_name              0
day_care_type              0
day_care_baby_num          0
teacher_num              225
nursing_room_num        2699
playground_num          3163
CCTV_num                1811
is_commuting_vehicle       0
reference_date             0
dtype: int64

## 보육교직원수 결측치 처리

In [29]:
day_care[day_care.teacher_num.isna()]

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
6417,서울특별시,노원구,우리어린이집,국공립,31,NaN,3.0,0.0,5.0,N,2018-10-10
6538,서울특별시,노원구,하계현대어린이집,국공립,38,NaN,4.0,0.0,6.0,N,2018-10-10
7222,서울특별시,강남구,GKL행복(강남 코엑스2호점)어린이집,직장,49,NaN,NaN,NaN,NaN,N,2019-03-05
7223,서울특별시,강남구,GKL행복어린이집,직장,60,NaN,NaN,NaN,NaN,N,2019-03-05
7224,서울특별시,강남구,GS리테일 푸르니 어린이집,직장,61,NaN,NaN,NaN,NaN,N,2019-03-05
...,...,...,...,...,...,...,...,...,...,...,...
7440,서울특별시,강남구,현이어린이집,가정,20,NaN,NaN,NaN,NaN,N,2019-03-05
7441,서울특별시,강남구,현지아한솔어린이집,민간,37,NaN,NaN,NaN,NaN,N,2019-03-05
7442,서울특별시,강남구,호야 어린이집,가정,19,NaN,NaN,NaN,NaN,N,2019-03-05
7443,서울특별시,강남구,힐스어린이집,국공립,92,NaN,NaN,NaN,NaN,N,2019-03-05
7444,서울특별시,강남구,힐즈어린이집,협동,69,NaN,NaN,NaN,NaN,N,2019-03-05

In [30]:
day_care[day_care.teacher_num.isna()].gu.value_counts()

강남구    223
노원구      2
Name: gu, dtype: int64

### 노원구 보육교직원수 결측치 처리
- 노원구 보육교육원수의 평균값으로 대체함

In [31]:
nw = day_care.query("gu == '노원구'")
nw

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
6125,서울특별시,노원구,IBK참좋은어린이집,직장,49,11.0,3.0,0.0,12.0,N,2018-10-10
6126,서울특별시,노원구,i꿈동산어린이집뉴이레,가정,16,4.0,3.0,0.0,5.0,N,2018-10-10
6127,서울특별시,노원구,i보라어린이집,가정,16,7.0,3.0,0.0,4.0,N,2018-10-10
6128,서울특별시,노원구,i사랑어린이집,가정,14,6.0,2.0,0.0,3.0,N,2018-10-10
6129,서울특별시,노원구,New이레어린이집,가정,20,3.0,4.0,0.0,NaN,N,2018-10-10
...,...,...,...,...,...,...,...,...,...,...,...
6577,서울특별시,노원구,화랑어린이집,국공립,32,6.0,4.0,0.0,5.0,Y,2018-10-10
6578,서울특별시,노원구,황토별어린이집,가정,17,7.0,3.0,0.0,4.0,N,2018-10-10
6579,서울특별시,노원구,황토자연어린이집,가정,19,7.0,3.0,0.0,4.0,N,2018-10-10
6580,서울특별시,노원구,황토튼튼어린이집,가정,20,7.0,3.0,0.0,4.0,N,2018-10-10
6581,서울특별시,노원구,희망나래어린이집,민간,74,14.0,6.0,1.0,10.0,Y,2018-10-10

In [32]:
nw_notnull = nw[nw['teacher_num'].notnull()]
nw_notnull

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
6125,서울특별시,노원구,IBK참좋은어린이집,직장,49,11.0,3.0,0.0,12.0,N,2018-10-10
6126,서울특별시,노원구,i꿈동산어린이집뉴이레,가정,16,4.0,3.0,0.0,5.0,N,2018-10-10
6127,서울특별시,노원구,i보라어린이집,가정,16,7.0,3.0,0.0,4.0,N,2018-10-10
6128,서울특별시,노원구,i사랑어린이집,가정,14,6.0,2.0,0.0,3.0,N,2018-10-10
6129,서울특별시,노원구,New이레어린이집,가정,20,3.0,4.0,0.0,NaN,N,2018-10-10
...,...,...,...,...,...,...,...,...,...,...,...
6577,서울특별시,노원구,화랑어린이집,국공립,32,6.0,4.0,0.0,5.0,Y,2018-10-10
6578,서울특별시,노원구,황토별어린이집,가정,17,7.0,3.0,0.0,4.0,N,2018-10-10
6579,서울특별시,노원구,황토자연어린이집,가정,19,7.0,3.0,0.0,4.0,N,2018-10-10
6580,서울특별시,노원구,황토튼튼어린이집,가정,20,7.0,3.0,0.0,4.0,N,2018-10-10
6581,서울특별시,노원구,희망나래어린이집,민간,74,14.0,6.0,1.0,10.0,Y,2018-10-10

In [33]:
np.round(nw_notnull.teacher_num.mean(),0)

7.0

In [34]:
missing_val = nw.loc[nw.teacher_num.isna(),'teacher_num']
missing_val

6417   NaN
6538   NaN
Name: teacher_num, dtype: float64

In [35]:
day_care.at[6417, 'teacher_num'] = 7
day_care.at[6538, 'teacher_num'] = 7

In [36]:
day_care.teacher_num.isna().sum()

223

### 강남구 보육교직원수 결측치 처리
- 강남구는 어린이집 보육교육원수가 모두 NaN값임
- 하지만 지역별 티오가 다른구와 다르기 떄문에 비교적 비슷한
- 구가 서초구와 송파구라고 가정,이 지역의 보육교육원수의 평균값으로 대체

In [37]:
sp_sc = day_care.query("gu in ['송파구','서초구']")
sp_sc

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
409,서울특별시,송파구,(재)천주교서울대교구유지재단천사어린이집,법인·단체,61,11.0,NaN,NaN,8.0,N,2018-08-03
410,서울특별시,송파구,AJ어린이집,직장,49,10.0,NaN,NaN,6.0,N,2018-08-03
411,서울특별시,송파구,가락라온어린이집,국공립,20,6.0,NaN,NaN,4.0,N,2018-08-03
412,서울특별시,송파구,가락복지관어린이집,국공립,70,13.0,NaN,NaN,5.0,N,2018-08-03
413,서울특별시,송파구,가락본동어린이집,국공립,131,22.0,NaN,NaN,12.0,N,2018-08-03
...,...,...,...,...,...,...,...,...,...,...,...
1484,서울특별시,서초구,햇님어린이집,가정,20,7.0,NaN,NaN,NaN,N,2018-07-25
1485,서울특별시,서초구,햇살마루 어린이집,가정,19,6.0,NaN,NaN,NaN,N,2018-07-25
1486,서울특별시,서초구,허니비어린이집,가정,19,7.0,NaN,NaN,NaN,N,2018-07-25
1487,서울특별시,서초구,헤브론 어린이집,민간,61,12.0,NaN,NaN,NaN,N,2018-07-25
1488,서울특별시,서초구,현대양재어린이집,직장,68,19.0,NaN,NaN,NaN,N,2018-07-25

In [38]:
sp_sc_notnull = sp_sc[sp_sc['teacher_num'].notnull()]
sp_sc_notnull

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
409,서울특별시,송파구,(재)천주교서울대교구유지재단천사어린이집,법인·단체,61,11.0,NaN,NaN,8.0,N,2018-08-03
410,서울특별시,송파구,AJ어린이집,직장,49,10.0,NaN,NaN,6.0,N,2018-08-03
411,서울특별시,송파구,가락라온어린이집,국공립,20,6.0,NaN,NaN,4.0,N,2018-08-03
412,서울특별시,송파구,가락복지관어린이집,국공립,70,13.0,NaN,NaN,5.0,N,2018-08-03
413,서울특별시,송파구,가락본동어린이집,국공립,131,22.0,NaN,NaN,12.0,N,2018-08-03
...,...,...,...,...,...,...,...,...,...,...,...
1484,서울특별시,서초구,햇님어린이집,가정,20,7.0,NaN,NaN,NaN,N,2018-07-25
1485,서울특별시,서초구,햇살마루 어린이집,가정,19,6.0,NaN,NaN,NaN,N,2018-07-25
1486,서울특별시,서초구,허니비어린이집,가정,19,7.0,NaN,NaN,NaN,N,2018-07-25
1487,서울특별시,서초구,헤브론 어린이집,민간,61,12.0,NaN,NaN,NaN,N,2018-07-25
1488,서울특별시,서초구,현대양재어린이집,직장,68,19.0,NaN,NaN,NaN,N,2018-07-25

In [39]:
np.round(sp_sc.teacher_num.mean(),0)

9.0

In [40]:
missing_val = day_care.loc[day_care.teacher_num.isna(),'teacher_num']
missing_val

7222   NaN
7223   NaN
7224   NaN
7225   NaN
7226   NaN
        ..
7440   NaN
7441   NaN
7442   NaN
7443   NaN
7444   NaN
Name: teacher_num, Length: 223, dtype: float64

In [41]:
idx = missing_val.index
idx

Int64Index([7222, 7223, 7224, 7225, 7226, 7227, 7228, 7229, 7230, 7231,
            ...
            7435, 7436, 7437, 7438, 7439, 7440, 7441, 7442, 7443, 7444],
           dtype='int64', length=223)

In [42]:
for i in range(223):
    day_care.at[idx[i], 'teacher_num'] = 9
day_care

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
0,서울특별시,서대문구,가람어린이집,국공립,70,11.0,5.0,1.0,7.0,N,2018-07-31
1,서울특별시,서대문구,가좌제일어린이집,국공립,88,22.0,5.0,2.0,10.0,N,2018-07-31
2,서울특별시,서대문구,경찰청어린이집,직장,90,23.0,6.0,1.0,32.0,N,2018-07-31
3,서울특별시,서대문구,고운햇살어린이집,가정,18,5.0,3.0,0.0,4.0,N,2018-07-31
4,서울특별시,서대문구,고은어린이집,국공립,93,20.0,7.0,2.0,10.0,N,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...
7440,서울특별시,강남구,현이어린이집,가정,20,9.0,NaN,NaN,NaN,N,2019-03-05
7441,서울특별시,강남구,현지아한솔어린이집,민간,37,9.0,NaN,NaN,NaN,N,2019-03-05
7442,서울특별시,강남구,호야 어린이집,가정,19,9.0,NaN,NaN,NaN,N,2019-03-05
7443,서울특별시,강남구,힐스어린이집,국공립,92,9.0,NaN,NaN,NaN,N,2019-03-05
7444,서울특별시,강남구,힐즈어린이집,협동,69,9.0,NaN,NaN,NaN,N,2019-03-05

In [43]:
day_care.isna().sum()

city                       0
gu                         0
day_care_name              0
day_care_type              0
day_care_baby_num          0
teacher_num                0
nursing_room_num        2699
playground_num          3163
CCTV_num                1811
is_commuting_vehicle       0
reference_date             0
dtype: int64

## 보육실수 결측치 대체
- 각각의 구 전체가 보육실수 정보가 없음
- 인근 구의 데이터를 가져오기엔 꽤 많은
- 구의 보육실수 데이터가 없기 때문에
- 서울시 전체 보육실수의 평균으로 대체

In [44]:
day_care[day_care.nursing_room_num.isna()].gu.value_counts()

강서구    874
송파구    409
양천구    316
강동구    272
동작구    234
강남구    223
서초구    204
강북구    167
Name: gu, dtype: int64

In [45]:
np.round(day_care[day_care.nursing_room_num.notnull()].nursing_room_num.mean(),0)

4.0

In [46]:
missing_val = day_care.loc[day_care.nursing_room_num.isna(),'nursing_room_num']
missing_val

409    NaN
410    NaN
411    NaN
412    NaN
413    NaN
        ..
7440   NaN
7441   NaN
7442   NaN
7443   NaN
7444   NaN
Name: nursing_room_num, Length: 2699, dtype: float64

In [47]:
idx = missing_val.index
idx

Int64Index([ 409,  410,  411,  412,  413,  414,  415,  416,  417,  418,
            ...
            7435, 7436, 7437, 7438, 7439, 7440, 7441, 7442, 7443, 7444],
           dtype='int64', length=2699)

In [48]:
for i in range(2699):
    day_care.at[idx[i], 'nursing_room_num'] = 4
day_care

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
0,서울특별시,서대문구,가람어린이집,국공립,70,11.0,5.0,1.0,7.0,N,2018-07-31
1,서울특별시,서대문구,가좌제일어린이집,국공립,88,22.0,5.0,2.0,10.0,N,2018-07-31
2,서울특별시,서대문구,경찰청어린이집,직장,90,23.0,6.0,1.0,32.0,N,2018-07-31
3,서울특별시,서대문구,고운햇살어린이집,가정,18,5.0,3.0,0.0,4.0,N,2018-07-31
4,서울특별시,서대문구,고은어린이집,국공립,93,20.0,7.0,2.0,10.0,N,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...
7440,서울특별시,강남구,현이어린이집,가정,20,9.0,4.0,NaN,NaN,N,2019-03-05
7441,서울특별시,강남구,현지아한솔어린이집,민간,37,9.0,4.0,NaN,NaN,N,2019-03-05
7442,서울특별시,강남구,호야 어린이집,가정,19,9.0,4.0,NaN,NaN,N,2019-03-05
7443,서울특별시,강남구,힐스어린이집,국공립,92,9.0,4.0,NaN,NaN,N,2019-03-05
7444,서울특별시,강남구,힐즈어린이집,협동,69,9.0,4.0,NaN,NaN,N,2019-03-05

In [49]:
day_care.isna().sum()

city                       0
gu                         0
day_care_name              0
day_care_type              0
day_care_baby_num          0
teacher_num                0
nursing_room_num           0
playground_num          3163
CCTV_num                1811
is_commuting_vehicle       0
reference_date             0
dtype: int64

## 놀이터수 결측치 대체
- 결측치가 있는 데이터는 놀이터가 없다고 판단하여 0으로 대체함

In [50]:
idx = day_care[day_care.playground_num.isna()].index
idx

Int64Index([ 154,  155,  157,  158,  159,  160,  161,  162,  163,  164,
            ...
            7435, 7436, 7437, 7438, 7439, 7440, 7441, 7442, 7443, 7444],
           dtype='int64', length=3163)

In [51]:
for i in range(3163):
    day_care.at[idx[i], 'playground_num'] = 0
day_care

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
0,서울특별시,서대문구,가람어린이집,국공립,70,11.0,5.0,1.0,7.0,N,2018-07-31
1,서울특별시,서대문구,가좌제일어린이집,국공립,88,22.0,5.0,2.0,10.0,N,2018-07-31
2,서울특별시,서대문구,경찰청어린이집,직장,90,23.0,6.0,1.0,32.0,N,2018-07-31
3,서울특별시,서대문구,고운햇살어린이집,가정,18,5.0,3.0,0.0,4.0,N,2018-07-31
4,서울특별시,서대문구,고은어린이집,국공립,93,20.0,7.0,2.0,10.0,N,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...
7440,서울특별시,강남구,현이어린이집,가정,20,9.0,4.0,0.0,NaN,N,2019-03-05
7441,서울특별시,강남구,현지아한솔어린이집,민간,37,9.0,4.0,0.0,NaN,N,2019-03-05
7442,서울특별시,강남구,호야 어린이집,가정,19,9.0,4.0,0.0,NaN,N,2019-03-05
7443,서울특별시,강남구,힐스어린이집,국공립,92,9.0,4.0,0.0,NaN,N,2019-03-05
7444,서울특별시,강남구,힐즈어린이집,협동,69,9.0,4.0,0.0,NaN,N,2019-03-05

In [52]:
day_care.isna().sum()

city                       0
gu                         0
day_care_name              0
day_care_type              0
day_care_baby_num          0
teacher_num                0
nursing_room_num           0
playground_num             0
CCTV_num                1811
is_commuting_vehicle       0
reference_date             0
dtype: int64

## 어린이집 CCTV 보유 수 결측치 대체
- 강서구,동작구,강남구,서초구,강북구는
- 서울시 전체 데이터중 빈도가 가장 높은 4로 대체
- 도봉구,노원구,구로구,송파구,은평구는 해당 구의
- 가장 높은 빈도값으로 대체함

In [131]:
day_care[day_care.CCTV_num.notnull()].CCTV_num.value_counts()

4.0     1411
5.0      404
8.0      342
3.0      323
6.0      251
7.0      184
16.0     135
9.0      114
10.0     113
12.0     103
11.0      98
15.0      60
13.0      60
14.0      54
0.0       38
2.0       20
20.0      17
18.0      14
24.0      14
21.0      13
17.0      11
19.0      11
1.0       11
23.0       8
32.0       7
22.0       7
26.0       5
25.0       3
36.0       2
29.0       2
28.0       2
27.0       2
31.0       1
40.0       1
41.0       1
33.0       1
53.0       1
39.0       1
Name: CCTV_num, dtype: int64

In [53]:
day_care[day_care.CCTV_num.isna()].gu.value_counts()

강서구    874
동작구    234
강남구    223
서초구    204
강북구    167
강동구     97
도봉구      4
노원구      4
구로구      2
송파구      1
은평구      1
Name: gu, dtype: int64

In [54]:
day_care[day_care.CCTV_num.notnull()].gu.value_counts()

노원구     453
송파구     408
구로구     332
양천구     316
은평구     282
관악구     271
영등포구    266
도봉구     251
중랑구     242
광진구     197
성동구     184
강동구     175
금천구     168
서대문구    154
종로구      78
중구       68
Name: gu, dtype: int64

In [55]:
idx = day_care[day_care.CCTV_num.isna()].index
idx

Int64Index([ 181,  225,  227,  228,  728, 1176, 1285, 1286, 1287, 1288,
            ...
            7435, 7436, 7437, 7438, 7439, 7440, 7441, 7442, 7443, 7444],
           dtype='int64', length=1811)

In [56]:
for i in range(1811):
    day_care.at[idx[i], 'CCTV_num'] = 4
day_care

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
0,서울특별시,서대문구,가람어린이집,국공립,70,11.0,5.0,1.0,7.0,N,2018-07-31
1,서울특별시,서대문구,가좌제일어린이집,국공립,88,22.0,5.0,2.0,10.0,N,2018-07-31
2,서울특별시,서대문구,경찰청어린이집,직장,90,23.0,6.0,1.0,32.0,N,2018-07-31
3,서울특별시,서대문구,고운햇살어린이집,가정,18,5.0,3.0,0.0,4.0,N,2018-07-31
4,서울특별시,서대문구,고은어린이집,국공립,93,20.0,7.0,2.0,10.0,N,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...
7440,서울특별시,강남구,현이어린이집,가정,20,9.0,4.0,0.0,4.0,N,2019-03-05
7441,서울특별시,강남구,현지아한솔어린이집,민간,37,9.0,4.0,0.0,4.0,N,2019-03-05
7442,서울특별시,강남구,호야 어린이집,가정,19,9.0,4.0,0.0,4.0,N,2019-03-05
7443,서울특별시,강남구,힐스어린이집,국공립,92,9.0,4.0,0.0,4.0,N,2019-03-05
7444,서울특별시,강남구,힐즈어린이집,협동,69,9.0,4.0,0.0,4.0,N,2019-03-05

In [57]:
day_care.isna().sum()

city                    0
gu                      0
day_care_name           0
day_care_type           0
day_care_baby_num       0
teacher_num             0
nursing_room_num        0
playground_num          0
CCTV_num                0
is_commuting_vehicle    0
reference_date          0
dtype: int64

In [58]:
day_care.to_csv('data/ProcessedData/daycare_center.csv', index=False, encoding='cp949')

In [616]:
day_care = pd.read_csv('data/ProcessedData/daycare_center_cnt.csv', encoding='cp949')
day_care

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
0,서울특별시,서대문구,가람어린이집,국공립,70,11.0,5.0,1.0,7.0,N,2018-07-31
1,서울특별시,서대문구,가좌제일어린이집,국공립,88,22.0,5.0,2.0,10.0,N,2018-07-31
2,서울특별시,서대문구,경찰청어린이집,직장,90,23.0,6.0,1.0,32.0,N,2018-07-31
3,서울특별시,서대문구,고운햇살어린이집,가정,18,5.0,3.0,0.0,4.0,N,2018-07-31
4,서울특별시,서대문구,고은어린이집,국공립,93,20.0,7.0,2.0,10.0,N,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...
5651,서울특별시,강남구,현이어린이집,가정,20,9.0,4.0,0.0,4.0,N,2019-03-05
5652,서울특별시,강남구,현지아한솔어린이집,민간,37,9.0,4.0,0.0,4.0,N,2019-03-05
5653,서울특별시,강남구,호야 어린이집,가정,19,9.0,4.0,0.0,4.0,N,2019-03-05
5654,서울특별시,강남구,힐스어린이집,국공립,92,9.0,4.0,0.0,4.0,N,2019-03-05
5655,서울특별시,강남구,힐즈어린이집,협동,69,9.0,4.0,0.0,4.0,N,2019-03-05

In [617]:
day_care = day_care.groupby(['city','gu'])['day_care_name'].agg('count').reset_index()
day_care

     city    gu  day_care_name
0   서울특별시   강남구            223
1   서울특별시   강동구            272
2   서울특별시   강북구            167
3   서울특별시   강서구            874
4   서울특별시   관악구            271
5   서울특별시   광진구            197
6   서울특별시   구로구            334
7   서울특별시   금천구            168
8   서울특별시   노원구            457
9   서울특별시   도봉구            255
10  서울특별시   동작구            234
11  서울특별시  서대문구            154
12  서울특별시   서초구            204
13  서울특별시   성동구            184
14  서울특별시   송파구            409
15  서울특별시   양천구            316
16  서울특별시  영등포구            266
17  서울특별시   은평구            283
18  서울특별시   종로구             78
19  서울특별시    중구             68
20  서울특별시   중랑구            242

In [618]:
day_care = day_care[['gu','day_care_name']]
day_care.head()

    gu  day_care_name
0  강남구            223
1  강동구            272
2  강북구            167
3  강서구            874
4  관악구            271

In [620]:
day_care.columns = ['gu','daycare_cnt']
day_care.head()

    gu  daycare_cnt
0  강남구          223
1  강동구          272
2  강북구          167
3  강서구          874
4  관악구          271

In [621]:
day_care.to_csv('data/ProcessedData/daycare_center_cnt.csv', index=False, encoding='cp949')

# 서울시 구별 학원 분포도 데이터전처리

In [48]:
# 학원 데이터를 데이터프레임으로 가져오기
academy = pd.read_excel('data/2018년 시도별 행정구역별 사설학원 현황.xlsx' , skiprows=3)
academy

,조사연도,시도,행정구역,종류,분야,학원수,정원\n(수강자수),강사수,강의실수,월평균교습시간,월평균교습비(원)
0,2018,서울,종로구,학교교과교습학원,입시검정및보습,73,226260,530,345,27,234594
1,2018,서울,종로구,학교교과교습학원,국제화,5,2203,36,34,50,504929
2,2018,서울,종로구,학교교과교습학원,예능,13,1151,107,2,22,168979
3,2018,서울,종로구,학교교과교습학원,특수교육,1,90,3,1,15,165777
4,2018,서울,종로구,학교교과교습학원,기타,7,910,35,4,38,309062
...,...,...,...,...,...,...,...,...,...,...,...
3201,2018,제주,서귀포시,평생직업교육학원,인문사회,0,0,0,0,0,0
3202,2018,제주,서귀포시,평생직업교육학원,기예,0,0,0,0,0,0
3203,2018,제주,서귀포시,평생직업교육학원,종합,0,0,0,0,0,0
3204,2018,제주,서귀포시,평생직업교육학원,소계,4,240,8,8,10,83222
3205,2018,제주,서귀포시,합계,NaN,170,43892,404,964,15,122022

In [49]:
# 학원 데이터프레임을 정리 
academy = academy[['시도','행정구역','학원수']]
academy.columns = ['city','gu','academy_cnt']
academy

     city    gu  academy_cnt
0      서울   종로구           73
1      서울   종로구            5
2      서울   종로구           13
3      서울   종로구            1
4      서울   종로구            7
...   ...   ...          ...
3201   제주  서귀포시            0
3202   제주  서귀포시            0
3203   제주  서귀포시            0
3204   제주  서귀포시            4
3205   제주  서귀포시          170

[3206 rows x 3 columns]

In [51]:
cnt = academy.groupby(['city','gu'])['academy_cnt'].agg('sum').reset_index()
academy = cnt.query("city == '서울'")
academy

    city    gu  academy_cnt
124   서울   강남구         6789
125   서울   강동구         1914
126   서울   강북구          654
127   서울   강서구         2121
128   서울   관악구         1350
129   서울   광진구         1290
130   서울   구로구         1281
131   서울   금천구          666
132   서울   노원구         2241
133   서울   도봉구         1005
134   서울  동대문구         1089
135   서울   동작구         1374
136   서울   마포구         1932
137   서울  서대문구         1035
138   서울   서초구         3390
139   서울   성동구          942
140   서울   성북구         1392
141   서울   송파구         3153
142   서울   양천구         3186
143   서울  영등포구         1401
144   서울   용산구          474
145   서울   은평구         1563
146   서울   종로구          822
147   서울    중구          357
148   서울   중랑구          819

In [52]:
academy = academy[['gu','academy_cnt']]
academy

       gu  academy_cnt
124   강남구         6789
125   강동구         1914
126   강북구          654
127   강서구         2121
128   관악구         1350
129   광진구         1290
130   구로구         1281
131   금천구          666
132   노원구         2241
133   도봉구         1005
134  동대문구         1089
135   동작구         1374
136   마포구         1932
137  서대문구         1035
138   서초구         3390
139   성동구          942
140   성북구         1392
141   송파구         3153
142   양천구         3186
143  영등포구         1401
144   용산구          474
145   은평구         1563
146   종로구          822
147    중구          357
148   중랑구          819

In [53]:
academy.to_csv('data/ProcessedData/academy_cnt.csv', index=False, encoding='cp949')

# 서울시 유치원 분포도 데이터 전처리

In [622]:
kgarden = pd.read_csv('data/서울시 유치원 현황.csv', encoding='cp949')
kgarden

,교육청,소재구,유치원명,설립,우편번호,주소,전화번호,학급수,학생수 계,여 학생수,정규 교원수 계,정규 여 교원수,기간제 교원수 계,기간제 여 교원수,비고
0,강동송파,강동구,그리새유치원,사립,134-880,서울특별시 강동구 천호대로187길 53-18 (길동),02-474-6800,2.0,40.0,18.0,3.0,3.0,0.0,0.0,NaN
1,강동송파,강동구,근화유치원,사립,134-786,서울특별시 강동구 고덕로62길 48 (명일동신동아아파트 상가),02-481-1144,2.0,74.0,36.0,5.0,5.0,0.0,0.0,NaN
2,강동송파,강동구,녹원유치원,사립,134-827,서울특별시 강동구 상암로63길 39-10 (명일동),02-481-3141,4.0,111.0,57.0,7.0,7.0,0.0,0.0,NaN
3,강동송파,강동구,돌샘유치원,사립,134-715,서울특별시 강동구 고덕로 131 (암사동강동 롯데캐슬퍼스트아파트),02-3426-5472,8.0,210.0,120.0,14.0,14.0,0.0,0.0,NaN
4,강동송파,강동구,둔촌유치원,사립,134-822,서울특별시 강동구 풍성로63길 73 (둔촌동둔촌유치원),02-475-7913,3.0,67.0,41.0,6.0,6.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,강남,강남구,서울대왕초등학교병설유치원,공립,135-190,서울특별시 강남구 헌릉로618길 8 (세곡동),02-3412-0840,3.0,70.0,35.0,3.0,3.0,1.0,1.0,NaN
880,강남,강남구,서울대현초등학교병설유치원,공립,135-848,서울특별시 강남구 역삼로98길 16 (대치동대현초등학교),02-501-6408,4.0,68.0,27.0,5.0,5.0,1.0,1.0,NaN
881,강남,강남구,서울도곡초등학교병설유치원,공립,135-998,서울특별시 강남구 선릉로64길 33 서울도곡초등학교병설유치원 (대치동도곡초등학교),02-2052-1006,3.0,42.0,21.0,2.0,2.0,1.0,1.0,신설
882,강남,강남구,서울세명초등학교병설유치원,공립,135-190,서울특별시 강남구 자곡로55 (세곡동),02-2040-0890,5.0,102.0,51.0,4.0,4.0,1.0,1.0,NaN
883,강남,강남구,서울수서초등학교병설유치원,공립,135-884,서울특별시 강남구 광평로51길 46 (수서동수서초등학교),02-459-5926,3.0,70.0,37.0,3.0,3.0,0.0,0.0,NaN

In [623]:
kgarden = kgarden.groupby('소재구')['유치원명'].agg('count').reset_index()
kgarden.columns = ['gu','kindergarden_cnt']
kgarden

      gu  kindergarden_cnt
0    강남구                40
1    강동구                39
2    강북구                24
3    강서구                46
4    관악구                36
5    광진구                37
6    구로구                38
7    금천구                19
8    노원구                70
9    도봉구                31
10  동대문구                33
11   동작구                34
12   마포구                28
13  서대문구                26
14   서초구                25
15   성동구                30
16   성북구                55
17   송파구                53
18   양천구                50
19  영등포구                41
20   용산구                17
21   은평구                50
22   종로구                17
23    중구                13
24   중랑구                32

In [625]:
kgarden.to_csv('data/ProcessedData/kindergarden_cnt.csv', index=False, encoding='cp949')

# 서울시 초,중,고,특수학교 분포도 데이터 전처리

#### 초등학교

In [65]:
element = pd.read_csv('data/서울시 초등학교 현황.csv', encoding='cp949')
element

,교육청,소재구,학교명,홈페이지 주소,설립,우편번호,주소,전화번호,1학년 학급수,2학년 학급수,...,교원수 계,여교원수 계,정규 교원수 계,정규 여교원수,기간제 교원수 계,기간제 여교원수,직원수,여직원수,보통 교실 수,비고
0,서부,서대문구,서울안산초등학교,http://www.ansan.es.kr,공립,120-853,서울 서대문구 통일로 321 (홍제동서울안산초등학교),02-737-4265,5.0,6.0,...,55.0,51.0,54.0,50.0,1.0,1.0,5.0,2.0,37.0,NaN
1,서부,은평구,서울역촌초등학교,http://yeokchon.es.kr,공립,122-903,서울 은평구 은평로3길 25 서울역촌초등학교 (역촌동서울역촌초등학교),02-352-2245,12.0,12.0,...,102.0,92.0,102.0,92.0,0.0,0.0,8.0,4.0,70.0,NaN
2,서부,서대문구,서울연가초등학교,http://www.yeonga.es.kr,공립,120-807,서울 서대문구 증가로12가길 49-50 (남가좌동연가초등학교),02-372-3044,10.0,10.0,...,105.0,92.0,103.0,91.0,2.0,1.0,7.0,2.0,67.0,NaN
3,서부,은평구,서울연광초등학교,http://www.yeonkwang.es.kr,공립,122-866,서울특별시 은평구 연서로35길 37 (불광동연광초등학교),02-353-5141,3.0,3.0,...,43.0,38.0,41.0,37.0,2.0,1.0,5.0,2.0,24.0,NaN
4,서부,은평구,서울연신초등학교,http://www.yeonsin.es.kr,공립,122-851,서울 은평구 연서로 347 (불광동연신초등학교),02-387-0373,3.0,3.0,...,33.0,31.0,32.0,30.0,1.0,1.0,6.0,4.0,23.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,성북,성북구,대광초등학교,http://www.daegwang.or.kr,사립,136-087,서울특별시 성북구 안암로 5 (보문동7가대광초등학교),02-923-2032,3.0,3.0,...,21.0,13.0,21.0,13.0,0.0,0.0,8.0,3.0,18.0,NaN
595,성북,성북구,매원초등학교,http://www.maewon.es.kr,사립,136-890,서울특별시 성북구 북악산로 870 (돈암동고명정보산업고등학교),02-922-6052,3.0,3.0,...,21.0,15.0,18.0,13.0,3.0,2.0,4.0,2.0,18.0,NaN
596,성북,성북구,성신초등학교,http://www.sungshin.es.kr,사립,136-060,서울특별시 성북구 북악산로 918 (돈암동성신초등학교),02-921-1813,3.0,3.0,...,23.0,10.0,21.0,8.0,2.0,2.0,8.0,4.0,18.0,NaN
597,성북,강북구,영훈초등학교,http://www.younghoon.es.kr,사립,142-709,서울특별시 강북구 도봉로13가길 19 (미아동학교법인영훈학원),02-988-2134,4.0,4.0,...,38.0,22.0,30.0,17.0,8.0,5.0,11.0,2.0,24.0,NaN
598,성북,성북구,우촌초등학교,http://www.uchon.es.kr,사립,136-060,서울특별시 성북구 성북로4길 52-1 (돈암동우촌초등학교),02-929-1670,4.0,4.0,...,26.0,16.0,26.0,16.0,0.0,0.0,6.0,4.0,30.0,NaN

In [66]:
element = element.groupby('소재구')['학교명'].agg('count').reset_index()
element.columns = ['gu','element_cnt']
element

      gu  element_cnt
0    강남구           31
1    강동구           26
2    강북구           14
3    강서구           36
4    관악구           22
5    광진구           22
6    구로구           24
7    금천구           18
8    노원구           42
9    도봉구           23
10  동대문구           21
11   동작구           21
12   마포구           22
13  서대문구           18
14   서초구           24
15   성동구           20
16   성북구           29
17   송파구           38
18   양천구           30
19  영등포구           23
20   용산구           15
21   은평구           31
22   종로구           14
23    중구           12
24   중랑구           23

In [67]:
element.to_csv('data/ProcessedData/element.csv', index=False, encoding='cp949')

#### 중학교

In [102]:
middle1 = pd.read_csv('data/서울시 중학교 현황.csv', encoding='cp949')
middle1.head()

,교육청,소재구,학교명,홈페이지 주소,설립,남녀,우편번호,주소,전화번호,1학년 학급수,...,3학년 여학생 수,학급당 평균 학생수,정규 교원수 계,정규 여교원수,기간제 교원수 계,기간제 여교원수,직원수,여직원수,보통 교실 수,비고
0,남부,영등포구,양화중학교,http://www.yangwha.ms.kr,공립,공학,150-834,서울특별시 영등포구 당산로 56 (문래동3가양화중학교),02-2676-2282,8,...,117,29.4,45,38,2,2,4,2,27,NaN
1,남부,영등포구,여의도중학교,http://www.yeouido.ms.kr,공립,공학,150-888,서울특별시 영등포구 국제금융로7길 46 (여의도동여의도중학교),02-2199-9500,11,...,165,30.6,57,40,9,5,4,1,43,NaN
2,남부,영등포구,영남중학교,http://yeongnam.ms.kr,공립,공학,150-815,서울특별시 영등포구 대림로31나길 17 (대림동영남중학교),02-833-1003,8,...,145,28.4,50,44,8,5,4,1,30,NaN
3,남부,구로구,영림중학교,http://younglim.ms.kr/,공립,공학,152-842,서울특별시 구로구 가마산로27길 17 (구로동영림중학교),02-859-0322,10,...,206,30.2,59,40,10,9,4,2,39,NaN
4,남부,구로구,영서중학교,http://www.yeongseo.ms.kr,공립,공학,152-847,서울특별시 구로구 도림로20길 35 (구로동영서중학교),02-856-9567,8,...,139,29.5,50,43,10,9,6,5,37,NaN

In [103]:
middle1 = middle1[['소재구','학교명']]
middle1.columns = ['gu','middle_cnt']
middle1

       gu middle_cnt
0    영등포구      양화중학교
1    영등포구     여의도중학교
2    영등포구      영남중학교
3     구로구      영림중학교
4     구로구      영서중학교
..    ...        ...
378   송파구      거원중학교
379   강동구      고덕중학교
380   강동구      둔촌중학교
381   강동구      명일중학교
382   송파구      문정중학교

[383 rows x 2 columns]

In [113]:
# 전국 중학교 졸업생 진로 형황 데이터 불러오기
middle2 = pd.read_excel('data/2018년 2차_졸업생의 진로 현황(전체).xlsx', sheet_name='2018_졸업생의 진로 현황(중)')
middle2.head()

,시도교육청,지역교육청,지역,정보공시 \n 학교코드,학교명,학교급코드,설립구분,주야간,제외여부,제외사유,...,진학자 계.2,진학자 계.3,취업자,취업자.1,취업자.2,취업자.3,(미진학자)무직자 및 미상,(미진학자)무직자 및 미상.1,(미진학자)무직자 및 미상.2,(미진학자)무직자 및 미상.3
0,시도교육청,지역교육청,지역,정보공시 \n 학교코드,학교명,학교급코드,설립구분,주야간,제외여부,제외사유,...,합계,비율,남,여,합계,비율,남,여,합계,비율
1,서울특별시교육청,교육부,서울특별시 성북구,S000003514,서울대학교사범대학부설중학교,03,국립,주간,N,NaN,...,234,100,0,0,0,0,0,0,0,0
2,서울특별시교육청,교육부,서울특별시 종로구,S000003562,서울대학교사범대학부설여자중학교,03,국립,주간,N,NaN,...,172,100,0,0,0,0,0,0,0,0
3,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 강남구,S010000698,개원중학교,03,공립,주간,N,NaN,...,214,100,0,0,0,0,0,0,0,0
4,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 서초구,S010000700,경원중학교,03,공립,주간,N,NaN,...,310,100,0,0,0,0,0,0,0,0

In [115]:
# 전국 중학교 졸업자 데이터를 데이터프레임으로 정리
middle2 = middle2[['지역', '학교명']].drop(0)
middle2

                지역               학교명
1        서울특별시 성북구    서울대학교사범대학부설중학교
2        서울특별시 종로구  서울대학교사범대학부설여자중학교
3        서울특별시 강남구             개원중학교
4        서울특별시 서초구             경원중학교
5        서울특별시 강남구             구룡중학교
...            ...               ...
3454   제주특별자치도 제주시             탐라중학교
3455   제주특별자치도 제주시            제주영지학교
3456   제주특별자치도 제주시            제주영송학교
3457  제주특별자치도 서귀포시           서귀포온성학교
3458   제주특별자치도 제주시  제주제일중학교부설방송통신중학교

[3458 rows x 2 columns]

In [116]:
middle2['city'] = middle2['지역'].dropna().apply(lambda x: x.split(' ')[0])
middle2['gu'] = middle2['지역'].dropna().apply(lambda x: x.split(' ')[1])
middle2

                지역               학교명     city    gu
1        서울특별시 성북구    서울대학교사범대학부설중학교    서울특별시   성북구
2        서울특별시 종로구  서울대학교사범대학부설여자중학교    서울특별시   종로구
3        서울특별시 강남구             개원중학교    서울특별시   강남구
4        서울특별시 서초구             경원중학교    서울특별시   서초구
5        서울특별시 강남구             구룡중학교    서울특별시   강남구
...            ...               ...      ...   ...
3454   제주특별자치도 제주시             탐라중학교  제주특별자치도   제주시
3455   제주특별자치도 제주시            제주영지학교  제주특별자치도   제주시
3456   제주특별자치도 제주시            제주영송학교  제주특별자치도   제주시
3457  제주특별자치도 서귀포시           서귀포온성학교  제주특별자치도  서귀포시
3458   제주특별자치도 제주시  제주제일중학교부설방송통신중학교  제주특별자치도   제주시

[3458 rows x 4 columns]

In [117]:
middle2 = middle2.query("city == '서울특별시'")
middle2

            지역               학교명   city   gu
1    서울특별시 성북구    서울대학교사범대학부설중학교  서울특별시  성북구
2    서울특별시 종로구  서울대학교사범대학부설여자중학교  서울특별시  종로구
3    서울특별시 강남구             개원중학교  서울특별시  강남구
4    서울특별시 서초구             경원중학교  서울특별시  서초구
5    서울특별시 강남구             구룡중학교  서울특별시  강남구
..         ...               ...    ...  ...
416  서울특별시 금천구         국립전통예술중학교  서울특별시  금천구
417  서울특별시 광진구           선화예술중학교  서울특별시  광진구
418   서울특별시 중구              예원학교  서울특별시   중구
419  서울특별시 노원구           한국삼육중학교  서울특별시  노원구
420  서울특별시 마포구    아현중학교부설방송통신중학교  서울특별시  마포구

[420 rows x 4 columns]

In [118]:
middle2.isna().sum()

지역      0
학교명     0
city    0
gu      0
dtype: int64

In [119]:
middle2.nunique()

지역       25
학교명     420
city      1
gu       25
dtype: int64

In [120]:
middle2 = middle2[['gu','학교명']]
middle2.columns = ['gu','middle_cnt']
middle2

      gu        middle_cnt
1    성북구    서울대학교사범대학부설중학교
2    종로구  서울대학교사범대학부설여자중학교
3    강남구             개원중학교
4    서초구             경원중학교
5    강남구             구룡중학교
..   ...               ...
416  금천구         국립전통예술중학교
417  광진구           선화예술중학교
418   중구              예원학교
419  노원구           한국삼육중학교
420  마포구    아현중학교부설방송통신중학교

[420 rows x 2 columns]

In [136]:
middle = pd.merge(middle1,middle2, how='outer').sort_values('gu')
middle

      gu middle_cnt
250  강남구      신구중학교
241  강남구      도곡중학교
244  강남구      봉은중학교
248  강남구      세곡중학교
249  강남구      수서중학교
..   ...        ...
56   중랑구    송곡여자중학교
57   중랑구    영란여자중학교
59   중랑구    혜원여자중학교
41   중랑구      원묵중학교
36   중랑구      상봉중학교

[422 rows x 2 columns]

In [137]:
middle = middle.groupby('gu')['middle_cnt'].agg('count').reset_index()
middle

      gu  middle_cnt
0    강남구          27
1    강동구          20
2    강북구          17
3    강서구          23
4    관악구          18
5    광진구          14
6    구로구          15
7    금천구          10
8    노원구          29
9    도봉구          14
10  동대문구          15
11   동작구          18
12   마포구          16
13  서대문구          16
14   서초구          17
15   성동구          11
16   성북구          19
17   송파구          29
18   양천구          19
19  영등포구          11
20   용산구           9
21   은평구          19
22   종로구          13
23    중구           9
24   중랑구          14

In [138]:
middle.to_csv('data/ProcessedData/middle.csv', index=False, encoding='cp949')

#### 고등학교

In [151]:
high1 = pd.read_excel('data/2018년 2차_졸업생의 진로 현황(전체).xlsx', sheet_name='2018_졸업생의 진로 현황(고)')
high1

,시도교육청,지역교육청,지역,정보공시 \n 학교코드,학교명,학교급코드,설립구분,주야간,제외여부,제외사유,...,진학자 계.2,진학자 계.3,취업자,취업자.1,취업자.2,취업자.3,기타,기타.1,기타.2,기타.3
0,시도교육청,지역교육청,지역,정보공시 \n 학교코드,학교명,학교급코드,설립구분,주야간,제외여부,제외사유,...,합계,비율,남,여,합계,비율,남,여,합계,비율
1,서울특별시교육청,교육부,서울특별시 강남구,S000003540,국립국악고등학교,04,국립,주간,N,NaN,...,111,74.0,0,0,0,0.0,10,29,39,26.0
2,서울특별시교육청,교육부,서울특별시 성북구,S000003561,서울대학교사범대학부설고등학교,04,국립,주간,N,NaN,...,188,63.3,0,0,0,0.0,61,48,109,36.7
3,서울특별시교육청,교육부,서울특별시 금천구,S000005401,국립전통예술고등학교,04,국립,주간,N,NaN,...,136,80.5,0,0,0,0.0,10,23,33,19.5
4,서울특별시교육청,서울특별시교육청,서울특별시 송파구,S010000370,가락고등학교,04,공립,주간,N,NaN,...,194,56.1,0,0,0,0.0,98,54,152,43.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2069,제주특별자치도교육청,제주특별자치도교육청,제주특별자치도 제주시,S170000773,제주외국어고등학교,04,공립,주간,N,NaN,...,71,75.5,0,0,0,0.0,8,15,23,24.5
2070,제주특별자치도교육청,제주특별자치도교육청,제주특별자치도 제주시,S170000512,제주영지학교,05,공립,주간,N,NaN,...,0,0.0,0,0,0,0.0,5,5,10,100.0
2071,제주특별자치도교육청,제주특별자치도교육청,제주특별자치도 제주시,S170000513,제주영송학교,05,사립,주간,N,NaN,...,0,0.0,0,0,0,0.0,16,2,18,100.0
2072,제주특별자치도교육청,제주특별자치도교육청,제주특별자치도 서귀포시,S170000790,서귀포온성학교,05,공립,주간,N,NaN,...,0,0.0,1,0,1,6.7,8,6,14,93.3
2073,제주특별자치도교육청,제주특별자치도교육청,제주특별자치도 제주시,S170000155,제주제일고등학교부설방송통신고등학교,11,공립,주간,N,NaN,...,60,49.6,25,14,39,32.2,15,7,22,18.2

In [152]:
# 전국 중학교 졸업자 데이터를 데이터프레임으로 정리
high1 = high1[['지역', '학교명']].drop(0)
high1

                지역                 학교명
1        서울특별시 강남구            국립국악고등학교
2        서울특별시 성북구     서울대학교사범대학부설고등학교
3        서울특별시 금천구          국립전통예술고등학교
4        서울특별시 송파구              가락고등학교
5        서울특별시 강동구              강동고등학교
...            ...                 ...
2069   제주특별자치도 제주시           제주외국어고등학교
2070   제주특별자치도 제주시              제주영지학교
2071   제주특별자치도 제주시              제주영송학교
2072  제주특별자치도 서귀포시             서귀포온성학교
2073   제주특별자치도 제주시  제주제일고등학교부설방송통신고등학교

[2073 rows x 2 columns]

In [153]:
high1['city'] = high1['지역'].dropna().apply(lambda x: x.split(' ')[0])
high1['gu'] = high1['지역'].dropna().apply(lambda x: x.split(' ')[1])
high1

                지역                 학교명     city    gu
1        서울특별시 강남구            국립국악고등학교    서울특별시   강남구
2        서울특별시 성북구     서울대학교사범대학부설고등학교    서울특별시   성북구
3        서울특별시 금천구          국립전통예술고등학교    서울특별시   금천구
4        서울특별시 송파구              가락고등학교    서울특별시   송파구
5        서울특별시 강동구              강동고등학교    서울특별시   강동구
...            ...                 ...      ...   ...
2069   제주특별자치도 제주시           제주외국어고등학교  제주특별자치도   제주시
2070   제주특별자치도 제주시              제주영지학교  제주특별자치도   제주시
2071   제주특별자치도 제주시              제주영송학교  제주특별자치도   제주시
2072  제주특별자치도 서귀포시             서귀포온성학교  제주특별자치도  서귀포시
2073   제주특별자치도 제주시  제주제일고등학교부설방송통신고등학교  제주특별자치도   제주시

[2073 rows x 4 columns]

In [154]:
high1 = high1.query("city == '서울특별시'")
high1

            지역                 학교명   city   gu
1    서울특별시 강남구            국립국악고등학교  서울특별시  강남구
2    서울특별시 성북구     서울대학교사범대학부설고등학교  서울특별시  성북구
3    서울특별시 금천구          국립전통예술고등학교  서울특별시  금천구
4    서울특별시 송파구              가락고등학교  서울특별시  송파구
5    서울특별시 강동구              강동고등학교  서울특별시  강동구
..         ...                 ...    ...  ...
287  서울특별시 성북구    경동고등학교부설방송통신고등학교  서울특별시  성북구
288  서울특별시 종로구    경복고등학교부설방송통신고등학교  서울특별시  종로구
289  서울특별시 동작구  수도여자고등학교부설방송통신고등학교  서울특별시  동작구
290  서울특별시 동작구   영등포고등학교부설방송통신고등학교  서울특별시  동작구
291  서울특별시 강남구  경기여자고등학교부설방송통신고등학교  서울특별시  강남구

[291 rows x 4 columns]

In [155]:
high1.isna().sum()

지역      0
학교명     0
city    0
gu      0
dtype: int64

In [156]:
high1.nunique()

지역       25
학교명     291
city      1
gu       25
dtype: int64

In [157]:
high1 = high1[['gu','학교명']]
high1.columns = ['gu','high_cnt']
high1

      gu            high_cnt
1    강남구            국립국악고등학교
2    성북구     서울대학교사범대학부설고등학교
3    금천구          국립전통예술고등학교
4    송파구              가락고등학교
5    강동구              강동고등학교
..   ...                 ...
287  성북구    경동고등학교부설방송통신고등학교
288  종로구    경복고등학교부설방송통신고등학교
289  동작구  수도여자고등학교부설방송통신고등학교
290  동작구   영등포고등학교부설방송통신고등학교
291  강남구  경기여자고등학교부설방송통신고등학교

[291 rows x 2 columns]

In [158]:
high2 = pd.read_csv('data/서울시 고등학교 현황.csv', encoding='cp949')
high2

,교육청,소재구,학교명,홈페이지 주소,설립,고등학교 유형,남녀,주야,우편번호,주소,...,3학년 여학생 수,학급당 평균 학생수,정규 교원수 계,정규 여교원수,기간제 교원수 계,기간제 여교원수,직원수,여직원수,보통 교실 수,비고
0,서울시,강남구,국악고등학교,http://www.gukak.hs.kr,국립,특수목적고,공학,주간,135-962,서울특별시 강남구 개포로22길 65 (개포동국악고등학교),...,120,29.7,41,34,0,0,16,6,15,NaN
1,서울시,성북구,서울대학교사범대학부설고등학교,www.snu.hs.kr,국립,일반고,공학,주간,136-090,서울특별시 성북구 월곡로6 국립대학법인서울대학교사범대학부설고등학교 (종암동),...,168,36.0,57,32,9,5,5,1,27,NaN
2,서울시,금천구,전통예술고등학교,http://kugak-am.hs.kr,국립,특수목적고,공학,주간,153-030,서울특별시 금천구 시흥대로38길 62 전통예술고등학교 (시흥동서울국악예술중.고등학교),...,136,28.9,33,21,3,2,7,2,18,NaN
3,서울시,송파구,가락고등학교,http://www.garak.hs.kr,공립,일반고,공학,주간,138-854,서울특별시 송파구 송이로 42 (송파동가락고등학교),...,210,31.4,78,51,6,6,6,3,37,NaN
4,서울시,서대문구,가재울고등학교,http://www.gajaeul.hs.kr,공립,일반고,공학,주간,120-811,서울특별시 서대문구 수색로 100-35,...,0,29.2,37,23,3,2,5,2,31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,서울시,강서구,명덕고등학교,http://www.myungduk.hs.kr,사립,일반고,남자,주간,157-726,서울특별시 강서구 강서로47길 34-10 (내발산동명덕고등학교),...,0,31.3,69,5,7,5,6,2,38,NaN
314,서울시,강서구,명덕여자고등학교,http://www.mdgh.hs.kr,사립,일반고,여자,주간,157-726,서울특별시 강서구 강서로47길 34-10 (내발산동명덕여자고등학교),...,566,35.3,90,56,10,6,6,3,48,NaN
315,서울시,강서구,명덕외국어고등학교,http://www.mdfh.or.kr,사립,특수목적고,공학,주간,157-726,서울특별시 강서구 강서로47길 34-10 명덕외국어고등학교 (내발산동명덕여자고등학교),...,262,29.9,60,24,7,6,8,3,34,NaN
316,서울시,서대문구,명지고등학교,http://www.myongjigo.net/,사립,일반고,공학,주간,120-100,서울특별시 서대문구 명지2길 56 (홍은동명지중?고등학교),...,399,34.5,94,35,17,11,8,2,53,NaN
317,서울시,양천구,목동고등학교,http://mok.cschool.net/,사립,일반고,여자,주간,158-070,서울특별시 양천구 목동동로2길 68 목동고등학교 (신정동목동고등학교),...,617,38.5,88,43,16,11,6,1,57,NaN

In [159]:
high2 = high2[['소재구','학교명']]
high2.columns = ['gu','high_cnt']
high2

       gu         high_cnt
0     강남구           국악고등학교
1     성북구  서울대학교사범대학부설고등학교
2     금천구         전통예술고등학교
3     송파구           가락고등학교
4    서대문구          가재울고등학교
..    ...              ...
313   강서구           명덕고등학교
314   강서구         명덕여자고등학교
315   강서구        명덕외국어고등학교
316  서대문구           명지고등학교
317   양천구           목동고등학교

[318 rows x 2 columns]

In [160]:
high = pd.merge(high1,high2, how='outer')
high

       gu         high_cnt
0     강남구         국립국악고등학교
1     성북구  서울대학교사범대학부설고등학교
2     금천구       국립전통예술고등학교
3     송파구           가락고등학교
4     강동구           강동고등학교
..    ...              ...
364   마포구      한세사이버보안고등학교
365    중구         한양공업고등학교
366  동대문구      해성국제컨벤션고등학교
367   마포구        홍익디자인고등학교
368   강서구       화곡보건경영고등학교

[369 rows x 2 columns]

In [161]:
high = high.groupby('gu')['high_cnt'].agg('count').reset_index()
high

      gu  high_cnt
0    강남구        26
1    강동구        16
2    강북구        11
3    강서구        24
4    관악구        20
5    광진구        10
6    구로구        16
7    금천구         8
8    노원구        27
9    도봉구        11
10  동대문구        11
11   동작구        11
12   마포구        11
13  서대문구         8
14   서초구        13
15   성동구         9
16   성북구        16
17   송파구        21
18   양천구        14
19  영등포구         9
20   용산구        10
21   은평구        20
22   종로구        23
23    중구        14
24   중랑구        10

In [162]:
high.to_csv('data/ProcessedData/high.csv', index=False, encoding='cp949')

#### 특수학교

In [145]:
special = pd.read_csv('data/서울시 특수학교 현황.csv', encoding='cp949')
special

,교육청,소재구,학교명,홈페이지 주소,설립,남녀,장애별,우편번호,주소,전화번호,...,고등 전공과정 여학생 수,학급당 평균 학생수,정규 교원수 계,정규 여교원수,기간제 교원수 계,기간제 여교원수,직원수,여직원수,보통 교실 수,비고
0,서울시,종로구,수도사랑의학교,http://www.sudolove.sc.kr,사립,공학,정신지체학교,110-054,서울특별시 종로구 사직로7길 17 (사직동수도사랑의학교),02-739-9868,...,0,3.9,11,10,2,2,4,2,5,NaN
1,서울시,서대문구,연세대학교재활학교,http://www.yonsei.sc.kr,사립,공학,지체장애학교,120-749,서울특별시 서대문구 연세로 50 (신촌동연세대학교),02-2123-8131,...,0,5.9,24,11,4,4,8,3,13,NaN
2,서울시,은평구,은평대영학교,http://www.sep.sc.kr,사립,공학,정신지체학교,122-716,서울특별시 은평구 갈현로11길 30 은평대영학교 (구산동),070-7113-4809,...,6,6.9,57,34,16,10,13,4,38,NaN
3,서울시,강동구,주몽학교,http://www.jumong.sc.kr,사립,공학,지체장애학교,134-837,서울 강동구 상암로 369 (상일동주몽재활원),070-825-5050,...,21,7.1,50,27,5,1,11,2,30,NaN
4,서울시,강동구,한국구화학교,http://www.kuhwa.sc.kr,사립,공학,청각장애학교,134-803,서울특별시 강동구 고덕로 295-59 한국구화학교 (고덕동한국구화학교),02-428-0873,...,1,5.2,42,26,11,6,11,5,30,NaN
5,서울시,송파구,한국육영학교,http://www.yukyoung.sc.kr,사립,공학,정서장애학교,138-924,서울특별시 송파구 충민로6길 15 (장지동한국육영학교),02-431-6878,...,2,8.0,46,25,9,5,13,3,29,NaN
6,서울시,강북구,한빛맹학교,http://www.hanbit.sc.kr,사립,공학,시각장애학교,142-713,서울특별시 강북구 삼양로73가길 47 (수유동),02-987-2023,...,8,5.5,39,20,7,4,15,6,25,NaN
7,서울시,종로구,서울농학교,http://seoulnong.sc.kr,국립,공학,청각장애학교,110-032,서울특별시 종로구 필운대로 103 (신교동국립서울농학교),02-724-7912,...,0,4.4,56,40,5,3,30,14,47,NaN
8,서울시,종로구,서울맹학교,www.bl.sc.kr,국립,공학,시각장애학교,110-032,서울특별시 종로구 필운대로 97 (신교동국립서울맹학교),070-4628-5003,...,7,5.8,61,33,15,8,51,22,42,NaN
9,서울시,마포구,한국우진학교,http://www.woojin.sc.kr,국립,공학,지체장애학교,121-877,서울특별시 마포구 월드컵북로38길 21 (중동한국우진학교),02-304-6255,...,0,3.8,63,42,13,11,29,14,32,NaN
10,서울시,종로구,서울경운학교,http://www.gyeongun.sc.kr,공립,공학,정신지체학교,110-310,서울특별시 종로구 삼일대로 454 (경운동서울경운학교),02-3668-5100,...,6,5.6,39,35,8,2,11,6,21,NaN
11,서울시,광진구,서울광진학교,http://kjin.sc.kr/,공립,공학,정신지체학교,143-831,서울 광진구 강변역로 18 (구의동서울광진학교),02-455-2108,...,3,6.5,39,32,11,8,12,5,23,NaN
12,서울시,관악구,서울정문학교,http://www.jeongmun.sc.kr,공립,공학,정신지체학교,151-015,서울특별시 관악구 난향3길 31 (신림동서울정문학교),02-869-7188,...,9,6.0,54,45,12,10,10,5,31,NaN
13,서울시,노원구,서울정민학교,http://jeongmin.sc.kr,공립,공학,지체장애학교,139-869,서울특별시 노원구 공릉로58길 24 (하계동서울정민학교),02-978-8406,...,0,4.7,72,61,25,19,18,4,35,NaN
14,서울시,강남구,서울정애학교,http://www.jungae.sc.kr,공립,공학,정서장애학교,135-870,서울특별시 강남구 봉은사로81길 16 서울정애학교 (삼성동서울정애학교),02-540-7264,...,6,6.0,47,41,11,5,14,2,25,NaN
15,서울시,강북구,서울정인학교,http://www.jeongin.sc.kr,공립,공학,정신지체학교,142-886,서울특별시 강북구 인수봉로 119-20 (수유동정인학교),02-983-4321,...,6,6.6,45,34,15,12,11,1,30,NaN
16,서울시,구로구,서울정진학교,http://www.jungjin.sc.kr,공립,공학,정신지체학교,152-884,서울특별시 구로구 부일로9길 158 (궁동서울정진학교),02-2688-1304,...,8,5.7,85,76,18,14,16,6,57,NaN
17,서울시,송파구,광성하늘빛학교,www.hanulbit.sc.kr/,사립,공학,정신지체학교,138-873,서울특별시 송파구 올림픽로 625 광성하늘빛학교 (풍납동광성교회),02-474-1004,...,0,3.6,12,11,1,1,3,1,7,NaN
18,서울시,동작구,광성해맑음학교,www.shine.sc.kr/,사립,공학,정신지체학교,156-811,서울특별시 동작구 상도로 51 광성해맑음학교,02-8243-8888,...,0,3.9,12,10,3,0,4,1,8,NaN
19,서울시,강서구,교남학교,http://kyonam.sc.kr,사립,공학,정신지체학교,157-913,서울 강서구 까치산로22길 38 (화곡동교남학교),02-2607-2456,...,2,7.1,23,15,7,3,11,5,15,NaN
20,서울시,서초구,다니엘학교,http://www.daniel.sc.kr,사립,공학,정신지체학교,137-180,서울특별시 서초구 헌릉로468길 21-16 (내곡동다니엘학교),02-445-9435,...,5,8.0,48,30,1,1,13,5,27,NaN
21,서울시,강남구,밀알학교,http://www.miral.sc.kr,사립,공학,정서장애학교,135-230,서울특별시 강남구 일원로 90 (일원동밀알학교),02-3412-1133,...,4,6.4,50,29,15,11,12,2,32,NaN
22,서울시,관악구,새롬학교,http://www.saerom.sc.kr,사립,공학,지체장애학교,151-050,서울특별시 관악구 보라매로 44 (봉천동삼육외래센타),070-4612-4242,...,0,5.3,43,26,4,4,14,7,28,NaN
23,서울시,노원구,서울동천학교,http://www.dongchun.sc.kr,사립,공학,정신지체학교,139-230,서울특별시 노원구 노원로18길 41 (하계동동천학교),02-974-9575,...,6,7.4,58,38,10,6,15,4,34,NaN
24,서울시,성북구,서울명수학교,www.myungsu.sc.kr,사립,공학,정신지체학교,136-824,서울특별시 성북구 성북로31길 5-15 (성북동서울명수학교),02-762-8049,...,0,6.0,24,17,5,3,8,3,16,NaN
25,서울시,동작구,서울삼성학교,www.samsung.sc.kr,사립,공학,청각장애학교,156-841,서울특별시 동작구 양녕로30길 19-4 (상도동서울삼성학교),02-823-7430,...,0,6.1,33,15,5,4,7,2,35,NaN
26,서울시,강북구,서울애화학교,http://www.aewha.sc.kr,사립,공학,청각장애학교,142-816,서울특별시 강북구 솔매로 52 31 (미아동),02-987-5161,...,7,4.7,39,27,8,5,9,5,24,NaN
27,서울시,도봉구,서울인강학교,http://www.inkang.sc.kr,사립,공학,정신지체학교,132-806,서울특별시 도봉구 평화로 15번길 9-25,02-955-0523,...,13,6.4,36,21,13,7,14,4,28,NaN
28,서울시,구로구,성베드로학교,www.stpeters.sc.kr / www.성베드로학교.sc.kr,사립,공학,정신지체학교,152-716,서울특별시 구로구 연동로 320 (항동성공회대학교),02-2612-6413,...,6,6.5,41,27,6,2,10,4,26,NaN

In [146]:
special = special[['소재구','학교명']]
special.columns = ['gu','special_cnt']
special = special.groupby('gu')['special_cnt'].agg('count').reset_index()
special

      gu  special_cnt
0    강남구            2
1    강동구            2
2    강북구            3
3    강서구            1
4    관악구            2
5    광진구            1
6    구로구            2
7    노원구            2
8    도봉구            1
9    동작구            2
10   마포구            1
11  서대문구            1
12   서초구            1
13   성북구            1
14   송파구            2
15   은평구            1
16   종로구            4

In [148]:
special.to_csv('data/ProcessedData/special_cnt.csv', index=False, encoding='cp949')

# 스타벅스 데이터 전처리

In [629]:
df = pd.read_csv("data/상가업소/상가업소정보_201912_01.csv", sep='|')
df

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19905471,와라와라호프,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1168010600106040000014378,대치상가,서울특별시 강남구 남부순환로 2933,135280,6280.0,NaN,1,NaN,127.061026,37.493922
1,19911397,커피빈코리아선릉로93길점,코리아선릉로93길점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010100106960042022041,NaN,서울특별시 강남구 선릉로93길 6,135080,6149.0,NaN,1,NaN,127.047883,37.505675
2,19911801,프로포즈,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1154510200101620001017748,NaN,서울특별시 금천구 가산로 34-6,153010,8545.0,NaN,1,NaN,126.899220,37.471711
3,19912201,싱싱커피&토스트,NaN,Q,음식,Q07,패스트푸드,Q07A10,토스트전문,I56192,...,2653010400105780000002037,산업용품유통상가,부산광역시 사상구 괘감로 37,617726,46977.0,NaN,1,26,128.980455,35.159774
4,19932756,가락사우나내스낵,NaN,F,생활서비스,F09,대중목욕탕/휴게,F09A02,사우나/증기탕/온천,S96121,...,1171010500102560005010490,NaN,서울특별시 송파구 가락로 71,138846,5690.0,NaN,1,NaN,127.104071,37.500249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573675,16394290,비파티세리공덕,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1144010200101050067001710,NaN,서울특별시 마포구 마포대로14길 4,121801,4211.0,NaN,NaN,NaN,126.955059,37.548618
573676,16336474,앤탑PC방,NaN,N,관광/여가/오락,N01,PC/오락/당구/볼링등,N01A01,인터넷PC방,R91222,...,1120011500102890015004255,으뜸프린팅(주),서울특별시 성동구 성수일로8길 37,133834,4794.0,NaN,2,NaN,127.054615,37.545853
573677,16336218,오즈아레나PC방,NaN,N,관광/여가/오락,N01,PC/오락/당구/볼링등,N01A01,인터넷PC방,R91222,...,1168010800101650008000001,한맥빌딩,서울특별시 강남구 강남대로 492,135825,6119.0,NaN,2,NaN,127.024102,37.506202
573678,16335152,파인트리네일,NaN,F,생활서비스,F01,이/미용/건강,F01A02,발/네일케어,S96119,...,1156011000100230000000001,서울국제금융센터,서울특별시 영등포구 국제금융로 10,150945,7326.0,NaN,1,NaN,126.924863,37.525172
573679,16335150,마이리틀네일,NaN,F,생활서비스,F01,이/미용/건강,F01A02,발/네일케어,S96119,...,1132010700108120000018489,현대타운아파트,서울특별시 도봉구 도봉로114길 22-8,132691,1455.0,101,NaN,NaN,127.035145,37.647099

In [630]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573680 entries, 0 to 573679
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     573680 non-null  int64
 1   상호명        573679 non-null  object
 2   지점명        76674 non-null   object
 3   상권업종대분류코드  573680 non-null  object
 4   상권업종대분류명   573680 non-null  object
 5   상권업종중분류코드  573680 non-null  object
 6   상권업종중분류명   573680 non-null  object
 7   상권업종소분류코드  573680 non-null  object
 8   상권업종소분류명   573680 non-null  object
 9   표준산업분류코드   539290 non-null  object
 10  표준산업분류명    539290 non-null  object
 11  시도코드       573680 non-null  int64
 12  시도명        573680 non-null  object
 13  시군구코드      573680 non-null  int64
 14  시군구명       573680 non-null  object
 15  행정동코드      573680 non-null  int64
 16  행정동명       573680 non-null  object
 17  법정동코드      573680 non-null  int64
 18  법정동명       573680 non-null  object
 19  지번코드       573680 non-null  int64
 20  대지구분코드     573680 non-null  int64
 21  대지구분명      573680 non-null  object
 22  지번본번지      573680 non-null  int64
 23  지번부번지      474924 non-null  float64
 24  지번주소       573680 non-null  object
 25  도로명코드      573680 non-null  int64
 26  도로명        573680 non-null  object
 27  건물본번지      573680 non-null  int64
 28  건물부번지      71988 non-null   float64
 29  건물관리번호     573680 non-null  object
 30  건물명        265608 non-null  object
 31  도로명주소      573680 non-null  object
 32  구우편번호      573680 non-null  int64
 33  신우편번호      573671 non-null  float64
 34  동정보        50856 non-null   object
 35  층정보        347127 non-null  object
 36  호정보        85266 non-null   object
 37  경도         573680 non-null  float64
 38  위도         573680 non-null  float64
dtypes: float64(5), int64(11), object(23)
memory usage: 170.7+ MB

In [631]:
df_seoul = df[df["시도명"] == "서울특별시"].copy()
df_seoul

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19905471,와라와라호프,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1168010600106040000014378,대치상가,서울특별시 강남구 남부순환로 2933,135280,6280.0,NaN,1,NaN,127.061026,37.493922
1,19911397,커피빈코리아선릉로93길점,코리아선릉로93길점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010100106960042022041,NaN,서울특별시 강남구 선릉로93길 6,135080,6149.0,NaN,1,NaN,127.047883,37.505675
2,19911801,프로포즈,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1154510200101620001017748,NaN,서울특별시 금천구 가산로 34-6,153010,8545.0,NaN,1,NaN,126.899220,37.471711
4,19932756,가락사우나내스낵,NaN,F,생활서비스,F09,대중목욕탕/휴게,F09A02,사우나/증기탕/온천,S96121,...,1171010500102560005010490,NaN,서울특별시 송파구 가락로 71,138846,5690.0,NaN,1,NaN,127.104071,37.500249
5,19983535,초밥왕,NaN,Q,음식,Q03,일식/수산물,Q03A03,음식점-초밥전문,I56113,...,1171010200100070028000237,현대타워아파트,서울특별시 송파구 올림픽로 293-19,138735,5510.0,NaN,1,NaN,127.102490,37.515149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573675,16394290,비파티세리공덕,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1144010200101050067001710,NaN,서울특별시 마포구 마포대로14길 4,121801,4211.0,NaN,NaN,NaN,126.955059,37.548618
573676,16336474,앤탑PC방,NaN,N,관광/여가/오락,N01,PC/오락/당구/볼링등,N01A01,인터넷PC방,R91222,...,1120011500102890015004255,으뜸프린팅(주),서울특별시 성동구 성수일로8길 37,133834,4794.0,NaN,2,NaN,127.054615,37.545853
573677,16336218,오즈아레나PC방,NaN,N,관광/여가/오락,N01,PC/오락/당구/볼링등,N01A01,인터넷PC방,R91222,...,1168010800101650008000001,한맥빌딩,서울특별시 강남구 강남대로 492,135825,6119.0,NaN,2,NaN,127.024102,37.506202
573678,16335152,파인트리네일,NaN,F,생활서비스,F01,이/미용/건강,F01A02,발/네일케어,S96119,...,1156011000100230000000001,서울국제금융센터,서울특별시 영등포구 국제금융로 10,150945,7326.0,NaN,1,NaN,126.924863,37.525172
573679,16335150,마이리틀네일,NaN,F,생활서비스,F01,이/미용/건강,F01A02,발/네일케어,S96119,...,1132010700108120000018489,현대타운아파트,서울특별시 도봉구 도봉로114길 22-8,132691,1455.0,101,NaN,NaN,127.035145,37.647099

In [633]:
df_seoul["상호명_소문자"] = df_seoul["상호명"].str.lower()

In [634]:
df_seoul.loc[df_seoul["상호명_소문자"].str.contains("스타벅스|starbucks"), "상호명_소문자"].shape

(506,)

In [638]:
df_cafe = df_seoul[
    df_seoul["상호명_소문자"].str.contains('스타벅스|starbucks')].copy()
df_cafe.shape

(506, 40)

In [639]:
df_cafe.loc[df_cafe["상호명_소문자"].str.contains('스타벅스|starbucks'), "브랜드명"] = "스타벅스"
df_cafe[["상호명_소문자", "브랜드명"]].head()

              상호명_소문자  브랜드명
1104             스타벅스  스타벅스
2023        스타벅스종로3가점  스타벅스
2770             스타벅스  스타벅스
14770  스타벅스커피여의도ifc1f  스타벅스
14781            스타벅스  스타벅스

In [643]:
df_cafe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506 entries, 1104 to 571052
Data columns (total 41 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   상가업소번호     506 non-null    int64
 1   상호명        506 non-null    object
 2   지점명        465 non-null    object
 3   상권업종대분류코드  506 non-null    object
 4   상권업종대분류명   506 non-null    object
 5   상권업종중분류코드  506 non-null    object
 6   상권업종중분류명   506 non-null    object
 7   상권업종소분류코드  506 non-null    object
 8   상권업종소분류명   506 non-null    object
 9   표준산업분류코드   506 non-null    object
 10  표준산업분류명    506 non-null    object
 11  시도코드       506 non-null    int64
 12  시도명        506 non-null    object
 13  시군구코드      506 non-null    int64
 14  시군구명       506 non-null    object
 15  행정동코드      506 non-null    int64
 16  행정동명       506 non-null    object
 17  법정동코드      506 non-null    int64
 18  법정동명       506 non-null    object
 19  지번코드       506 non-null    int64
 20  대지구분코드     506 non-null    int64
 21  대지구분명      506 non-null    object
 22  지번본번지      506 non-null    int64
 23  지번부번지      395 non-null    float64
 24  지번주소       506 non-null    object
 25  도로명코드      506 non-null    int64
 26  도로명        506 non-null    object
 27  건물본번지      506 non-null    int64
 28  건물부번지      23 non-null     float64
 29  건물관리번호     506 non-null    object
 30  건물명        390 non-null    object
 31  도로명주소      506 non-null    object
 32  구우편번호      506 non-null    int64
 33  신우편번호      506 non-null    float64
 34  동정보        16 non-null     object
 35  층정보        430 non-null    object
 36  호정보        56 non-null     object
 37  경도         506 non-null    float64
 38  위도         506 non-null    float64
 39  상호명_소문자    506 non-null    object
 40  브랜드명       506 non-null    object
dtypes: float64(5), int64(11), object(25)
memory usage: 166.0+ KB

In [644]:
df_cafe.to_csv('starbucks.csv', index=False, encoding='cp949')
df_cafe.to_csv('스타벅스.csv', index=False, encoding='cp949')

In [648]:
star_loc = df_cafe[['시군구명',"브랜드명",'위도','경도']].copy()
star_loc

        시군구명  브랜드명         위도          경도
1104     용산구  스타벅스  37.534303  126.994781
2023     종로구  스타벅스  37.570585  126.990207
2770     서초구  스타벅스  37.513663  127.019763
14770   영등포구  스타벅스  37.525172  126.924863
14781    강남구  스타벅스  37.510038  127.063878
...      ...   ...        ...         ...
563387   용산구  스타벅스  37.527452  126.965220
567090   관악구  스타벅스  37.479298  126.952792
567828   성동구  스타벅스  37.548028  127.015329
570096  서대문구  스타벅스  37.560080  126.956144
571052  서대문구  스타벅스  37.582341  126.911859

[506 rows x 4 columns]

In [649]:
star_loc.isna().sum()

시군구명    0
브랜드명    0
위도      0
경도      0
dtype: int64

In [650]:
star_loc.columns = ['gu','brand','lat','lng']
star_loc

          gu brand        lat         lng
1104     용산구  스타벅스  37.534303  126.994781
2023     종로구  스타벅스  37.570585  126.990207
2770     서초구  스타벅스  37.513663  127.019763
14770   영등포구  스타벅스  37.525172  126.924863
14781    강남구  스타벅스  37.510038  127.063878
...      ...   ...        ...         ...
563387   용산구  스타벅스  37.527452  126.965220
567090   관악구  스타벅스  37.479298  126.952792
567828   성동구  스타벅스  37.548028  127.015329
570096  서대문구  스타벅스  37.560080  126.956144
571052  서대문구  스타벅스  37.582341  126.911859

[506 rows x 4 columns]

In [651]:
star_loc.to_csv("data/ProcessedData/location/starbucks_loc.csv", index=False, encoding='cp949')

In [652]:
star_cnt = df_cafe[['시군구명',"브랜드명"]].copy()
star_cnt

        시군구명  브랜드명
1104     용산구  스타벅스
2023     종로구  스타벅스
2770     서초구  스타벅스
14770   영등포구  스타벅스
14781    강남구  스타벅스
...      ...   ...
563387   용산구  스타벅스
567090   관악구  스타벅스
567828   성동구  스타벅스
570096  서대문구  스타벅스
571052  서대문구  스타벅스

[506 rows x 2 columns]

In [653]:
star_cnt = star_cnt.groupby('시군구명')['브랜드명'].agg('count').reset_index()
star_cnt

    시군구명  브랜드명
0    강남구    84
1    강동구    13
2    강북구     5
3    강서구    17
4    관악구    11
5    광진구    14
6    구로구    12
7    금천구    13
8    노원구     9
9    도봉구     1
10  동대문구     8
11   동작구     8
12   마포구    30
13  서대문구    20
14   서초구    48
15   성동구     7
16   성북구    13
17   송파구    28
18   양천구    11
19  영등포구    30
20   용산구    20
21   은평구    10
22   종로구    33
23    중구    55
24   중랑구     6

In [654]:
star_cnt.columns = ['gu','starbucks_cnt']
star_cnt.head()

    gu  starbucks_cnt
0  강남구             84
1  강동구             13
2  강북구              5
3  강서구             17
4  관악구             11

In [655]:
star_cnt.to_csv('data/ProcessedData/starbucks_cnt.csv', index=False, encoding='cp949')